//oficinas
#oficinas {
    margin-top: 150px;
    overflow: hidden;
    //height: 100%;

    .oficinas__container .d-flex {
        justify-content: center;
        padding: 20px 0;


    }

    h2 {
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        line-height: 34px;
        color: $font-color-b;
        margin-bottom: 30px;

    }

    .oficinas__card {
        //  cursor: pointer;
        position: relative;
        border: 1px solid $secondary-color;
        border-radius: 20px;
        background: white;
        transition: 0.3s ease;
        padding-bottom: 0px;
        margin-top: 30px;
        max-width: 300px;
        min-width: 300px;
        width: 300px ;
        margin: 10px 0px;
        max-height: 400px;
        height: 400px;

        @include media(ss) {
            max-width: 250px;
            min-width: 250px;
            width: 250px;
            height: 450px;
            max-height: 450px;


        }


        h3 {
            font-weight: 700;
            font-size: 26px;
            color: $font-color-b;
            margin: 15px 0;

            @include media(s) {
                margin: 10px 0;
                font-size: 32px;

            }
        }


        .text {
            margin: 0 15px;
        }

        .arrow-right {
            position: absolute;
            right: 20px;
            bottom: 15px;
            width: 20px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        &:hover {
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
            .arrow-right  {
                animation:arrowRight .7s ease-in-out alternate infinite 1s;
                
                
            }

        }

        .container__image {
            width: 100%;
            height: 140px;
            position: relative;
            border-radius: 20px 20px 0 0;
            max-width: 100%;
            position: relative;
            overflow: hidden;

            @include media(s) {
                height: 120px;
                max-width: 100%;
            }


            img {
                max-width: initial;
                object-fit: cover;
                object-position: center center;
                min-height: 150px;
                min-width: 100%;
                max-height: 180px;

            }
        }
       
    }
}


//ARROWS

.glide__arrows {
    overflow: hidden;
}

.glide__arrow--left {
    background-image: url(../img/a2.svg);
    background-size: contain;
    background-repeat: no-repeat;

    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -20px;
    cursor: pointer;

    @include media(s) {
        left: 0px;
        opacity: .6;
        width: 30px;
        height: 30px;
    }
}

.glide__arrow--right {
    background-image: url(../img/a1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -20px;
    cursor: pointer;

    @include media(s) {
        right: 0px;
        opacity: .6;
        width: 30px;
        height: 30px;
    }
}