@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe-UI.woff') format('woff');
}



@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: local('Segoe UI Regular'), url('../font/Segoe-UI-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI';
    src:
        local("Segoe UI SemiBold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff");
    font-weight: 600;
}

/* 
@font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    src: local('Recoleta'), url('../font/Recoleta-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    src: local('Recoleta'), url('../font/Recoleta-Bold.woff') format('woff');
} */



/* @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Segoe UI Regular'), url('../font/Segoe-UI-Bold.woff') format('woff');
}

 */