#intro {
    height: 350px;
    // background-color: $primary-color;
    color: white;
    position: relative;
    clip-path: polygon(0% 0%, 0 80%, 100% 100%, 100% 0%);
    background: linear-gradient(to right, #2280c1, #0083b0);

    h1 {
        display: block;
        place-items: center;
        @include clamp("font-size", 32px, 4vw, 58px);
        position: relative;
        z-index: 10;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        margin-top: 110px;
        font-family: $font-gilroy;
/* 
        @include media(s) {
            font-size: 32px;
        } */

        /* &:after {
            content: "CAMBAUBA";
            display: block;
            font-size: 72px;
            position: absolute;
            left: -40px;
            right: 0;
            margin: 0 auto;
            color: #3ba0e6;
            z-index: -1;
            bottom: -30px;
            opacity: .3;

            @include media(s) {
                font-size: 62px;
                left: -30px;

            }
        } */


    }

    &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        background-image: url(img/logocamba.png);
        right: -32px;
        bottom: -43px;

        @include media(m) {
            width: 150px;
            height: 150px;
        }
    }



}