// BASE
@import "fonts";
@import "variaveis__mixins";

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Bold.ttf');
}
/* 
@font-face {
    font-family: "Recoleta";
    src: url("font/Recoleta-Bold.woff");
} */

$font-gilroy: 'Gilroy',
arial;
/* $font-serif: "Recoleta",
Tahoma;
 */
$preto-claro:#444444;





// BOOTSTRAP

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";

//@import "./bootstrap/scss/reboot";
//@import "bootstrap/scss/type";

@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/button-group";

//for all
@import "reset";
@import "responsivo";
@import "animation";
@import "menu";
@import "footer";


body {
    @include font;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.site {
    overflow: hidden;
}


.body__home {
    @import "main__home";
    @import "blog__home.scss";
    @import "oficinas__novo.scss";

    @import "eventos.scss";
    @import "calendario.scss";

}

.body__matriculas {
    @import "main__matriculas";
}

.body__blog {
    @import "main__blog";
    position: relative;
}

.body__projetos {
    @import "main__projetos";
    position: relative;
}

.body__oficina {
    @import "main__oficinas";
}

.body__contato {
    @import "page__contato";
}

.body__associacao {
    @import "main__associacao";
}

.body__a-escola {
    @import "main__a-escola";
}

.body__ademc {
    @import "main__ademc";
}

.single-post {
    @import "single__blog";
}



.magnetic-wrap {
    display: inline-block;
    position: relative;
}

/* $magnetic-size: 3rem;

.magnetic-size {
    position: absolute;
    bottom: -$magnetic-size;
    top: -$magnetic-size;
    left: -$magnetic-size;
    right: -$magnetic-size;
    z-index: 1; // The area has to be on top
    border-radius: 50%;
}
 */


/* MUDAR DEPOIS */



// =======================================


#logoData {
    @include data__logo;
}