{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load home_tags %}

{% block extra_style %}
<link href='{% static "calendar/packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/list/main.css" %}' rel='stylesheet' />

<script src='{% static "calendar/packages/core/main.js" %}'></script>
<script src='{% static "calendar/packages/interaction/main.js" %}'></script>
<script src='{% static "calendar/packages/daygrid/main.js" %}'></script>
<script src='{% static "calendar/packages/timegrid/main.js" %}'></script>
<script src='{% static "calendar/packages/list/main.js" %}'></script>
<script src='{% static "calendar/packages/core/locales/pt-br.js" %}'></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'pt-br',
      plugins: ['interaction', 'dayGrid', 'timeGrid'],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      defaultDate: '{{hoje|date:"Y-m-d"}}',
      navLinks: true, // can click day/week names to navigate views
      initialView: 'dayGridWeek',

      select: function (arg) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
          })
        }
        calendar.unselect()
      },
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: {
        url: 'get_calendario/',
        failure: function () {
          document.getElementById('script-warning').style.display = 'block'
        }
      },
      loading: function (bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      },
      eventClick: function (info) {
        info.jsEvent.preventDefault();
        $('#dados_evento #modal_titulo').text(info.event.title)
        $('#dados_evento #modal_materia').text(info.event._def.extendedProps.materia)
        $('#dados_evento #modal_descricao').text(info.event._def.extendedProps.descricao)
        $('#dados_evento #modal_data_inicial').text(info.event.start.toLocaleString())
        $('#dados_evento #modal_data_final').text(info.event.end.toLocaleString())

        $('#dados_evento').modal('show')
      },
    });

    calendar.render();

    console.log(calendar);
  });
</script>
<style>
  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
  }
</style>
{% endblock %}

{% block content %}
<div class="boasvindas">
  <div class="card-header card__container boas-vin" style="background-color: blue;">
    <h2>Bem vindo(a) à Intranet, Sr(a) {{user.first_name}} {{user.last_name}}</h2>
    <small>Responsável por </small>
    {% for aluno in alunos %}
    <a href="{% url 'aluno_detail' aluno.id %}">
      <small>{{aluno}} </small>
    </a>

    {% endfor %}
  </div>
</div>
<main class="page_home">

  <!-- container responsável -->

  <!-- Alunos -->
  <div class="card__alunos">

    <div class="card__alunos-wrapper">
      {% for aluno in alunos %}
      <div class="card mb-4 text-center col-lg-6 card__alunos-element">
        <div class="card-header">
          <h4>{{aluno.nome}}</h4>
        </div>
        <div class="card-body">
          <p><a href="{% url 'turma_detail' aluno.turma.id %}">
              <ion-icon name="school-outline"></ion-icon> Turma {{aluno.turma}}
            </a></p>
          <a href="{% url 'aluno_detail' aluno.id %}" class="vermais_aluno">
            Ver Mais
          </a>
        </div>
      </div>
      {% endfor %}

    </div>
    <!-- Atividades e ultimas enquetes -->
    <div class="atividades__container">

      <div class="card__atividades">
        <div class="atividades">
          <div class="card-header">
            <h1 class="titulosecoes"> <i></i> Atividades</h1>
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for aluno in alunos %}
              {% for atividade in aluno.turma.atividadeescolar_set.all %}
              <div>
                <div style="border-left: 10px solid {{atividade.materia.hexadecimal}}">
                <li class="list-group-item aluno-{% index_aluno alunos aluno %}">
                <a href="{% url 'atividade_escolar_detail' atividade.id %}">{{atividade.titulo}} </a> -
                <span>{{aluno.nome}}</span>
              </li>
              </div>
              
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card__noticias">
        <div class="card__enquetes">
          <div class="card-header">
            <h1 class="titulosecoes"><ion-icon name="newspaper-outline"></ion-icon> AEMC Notícias</h1>
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for aemc in aemc_noticias %}
              <li class="list-group-item">
                <a href="{% url 'documentacao_obra_detail' aemc.id %}">{{aemc.titulo}}</a>
              </li>
              {% endfor %}
          </div>
      </div>
      </div>
       

      <div class="card__enquetes">
        <div class="enquetes">
          <div class="card-header">
            <h1 class="titulosecoes"><i></i> Enquetes</h1>
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for enquete in enquetes %}
                {% if enquete.data_expiracao >= data_hoje or enquete.data_expiracao == Null%}
                  <li class="list-group-item">
                    <a href="{% url 'enquete_detail' enquete.id %}">{{enquete}}</a>
                  </li>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>

    </div>

  </div>

  <section class="parte__final">

    <!-- Comunicados e Calendário -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">
          <ion-icon name="receipt-outline"></ion-icon>Comunicados
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">
          <ion-icon name="calendar-outline"></ion-icon>Calendário
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active row" id="home" role="tabpanel" aria-labelledby="home-tab">

        <!-- todos e alunos -->
        <div class="nav__alunos-container">
          <div class="nav nav-pills  order-last button__carousel" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <a data-aluno="all" class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
              href="#todos_comunicados" role="tab" aria-controls="v-pills-home" aria-selected="true">Todos</a>

            {% for aluno in alunos %}
            <a data-aluno="{{aluno.id}}" class="nav-link" id="v-pills-home-tab" data-toggle="pill"
              href="#aluno-{{aluno.id}}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{aluno.nome}}</a>
            {% endfor %}
          </div>
        </div>

        <div class="swiper__container-geral">

          <!-- swiper container -->
          <div class="swiper__container-comunicados swiper__container-all ativo" data-aluno="all">
            <h4>Todos os alunos</h4>
            <div class="comunicados__wrapper swiper-wrapper" id="todos_comunicados" role="tabpanel"
              aria-labelledby="v-pills-home">
              {% for aluno in alunos %}
              {% for comunicado in aluno.turma.comunicados_exibicao %}
              
              <div class="card card-ecommerce-3 swiper-slide o-hidden mb-4 noticia_destaque">
                <div class="notica__wrapper">
                  <div class="top__division">
                    <div class="card__img">
                      {% if comunicado.foto %}
                      <img src="{{comunicado.foto.url}}" alt="">
                      {% else %}
                      <img src="{% static 'assets/images/capa_comunicado.png' %}" alt="">
                      {% endif %}
                    </div>
                    <div class="card__titulo">
                      <h5 class="m-0">{{comunicado.titulo}} </h5>
                      <p>{{aluno.nome}}</p>
                    </div>
                  </div>

                  <div class="card__texto">
                    <span> {{comunicado.resumo.html|safe}} </span>
                  </div>

                  <div class="leia-mais">
                    <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais
                      <ion-icon name="arrow-forward-outline"></ion-icon></a>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endfor %}
            </div>
            <div class="swiper-buttons">
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>

          {% for aluno in alunos %}
          <!-- swiper container -->
          <div class="swiper__container-comunicados swiper__container-all" data-aluno="{{aluno.id}}">
            <h4>{{aluno.nome}}</h4>
            <!-- wrapper -->
            <div class="comunicados__wrapper swiper-wrapper" id="aluno-{{aluno.id}}" role="tabpanel"
              aria-labelledby="v-pills-home">
              <!-- item -->
              {% for comunicado in aluno.turma.comunicados_exibicao %}
              <div class="card card-ecommerce-3 swiper-slide o-hidden mb-4 noticia_destaque">
                <div class="notica__wrapper">
                  <div class="top__division">
                    <div class="card__img">
                      {% if comunicado.foto %}
                      <img src="{{comunicado.foto.url}}" alt="">
                      {% else %}
                      <img src="{% static 'assets/images/capa_comunicado.png' %}" alt="">
                      {% endif %}
                    </div>
                    <div class="card__titulo">
                      <h5 class="m-0">{{comunicado.titulo}}</h5>
                    </div>
                  </div>

                  <div class="card__texto">
                    <span>{{comunicado.resumo.html|safe}}</span>
                  </div>

                  <div class="leia-mais">
                    <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                        name="arrow-forward-outline"></ion-icon></a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="swiper-buttons">
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="ver__todos">
          <a href="{% url 'comunicados' %}">Ver Todos <ion-icon name="arrow-forward-outline"></ion-icon></a>
        </div>

      </div>
      <!-- Calendário -->
      <div style="display:block !important;" class="tab-pane fade show" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="card">
          <div class="card-body">
            <div id='script-warning'>
              Erro ao carregar eventos.
            </div>

            <div id='loading'>loading...</div>
            <div id='calendar'></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<div class="modal fade" id="dados_evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes da Atividade</h5>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Título</dt>
          <dd id="modal_titulo"></dd>

          <dt>Matéria</dt>
          <dd id="modal_materia"></dd>

          <dt>Descrição</dt>
          <dd id="modal_descricao"></dd>

          <dt>Data Inicial</dt>
          <dd id="modal_data_inicial"></dd>

          <dt>Data Final</dt>
          <dd id="modal_data_final"></dd>
        </dl>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<style>
  #calendar {
    max-height: 1px !important;
    overflow: hidden;
    opacity: 0;
  }

  #profile {
    max-height: 1px !important;
    overflow: hidden;
  }

  .tab-pane.active #calendar {
    max-height: 100% !important;
    overflow: initial !important;
    opacity: 1;
  }

  .tab-pane.active#profile {
    max-height: 100% !important;
    overflow: initial !important;
  }

  .body__home .card__noticias h1 ion-icon{
  font-size:32px;
}
</style>

<script>
  const props = {
    slidesPerView: 'auto',
    spaceBetween: 30,
    centeredSlides: false,
    freeMode: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    breakpoints: {
      320: {
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 15,
      },
      720: {
        slidesPerView: "auto",
        centeredSlides: false,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: "auto",
        spaceBetween: 50,
        centeredSlides: false,

      },

      1240: {
        slidesPerView: "auto",
        spaceBetween: 20,
        centeredSlides: false,

      },
    }
  }


  let clickItems = document.querySelectorAll(".button__carousel a");
  let carouseis = document.querySelectorAll(".swiper__container-all")

  carouseis.forEach((i) => {
    new Swiper(i, props) //loop para add carouseis

  })

  clickItems.forEach((i) => {
    i.addEventListener("click", trocaCarousel) //evento de click troca
  })

  function trocaCarousel(event) {
    let itemData = event.target.dataset.aluno
    let item = event.target

    carouseis.forEach((carousel) => {

      let dataset = carousel.dataset.aluno
      carousel.classList.remove("ativo")

      if (dataset == itemData) {
        carousel.classList.add("ativo")
      }

    })


  }
</script>

{% endblock %}