{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<main class="page_home">
<!-- container responsável -->
    <div class="card mb-4">
        <div class="card-header card__container" style="background-color: blue;">
            <h2>Bem-vindo à Intranet, Sr(a) {{user.first_name}} {{user.last_name}}</h2>
            <small>Responsável por </small>
            {% for aluno in alunos %}
                <a href="{% url 'aluno_detail' aluno.id %}"> 
                    <small>{{aluno}} </small>
                </a>
                
            {% endfor %}
        </div>
    </div>
    <!-- Alunos -->
    <div class="d-flex justify-content-around row card__alunos">
        {% for aluno in alunos %}
        <div class="card mb-4 text-center col-3">
            <div class="card-header"><h4>{{aluno.nome}}</h4></div>
            <div class="card-body">
                <p><a href="{% url 'turma_detail' aluno.turma.id %}">{{aluno.turma}}</a></p>
                <a href="{% url 'aluno_detail' aluno.id %}">
                    Verificar perfil
                </a>
                </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <!-- Atividades e ultimas enquetes -->
    <div class="d-flex justify-content-around row">

        <div class="card mb-4 text-center col-5 card__atividades">
            <div class="card-header">
                <h4>Atividades</h4>
            </div>
            <div class="card-body">
                {% for aluno in alunos %}
                <ul class="list-group">
                {% for atividade in aluno.turma.atividadeescolar_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'atividade_escolar_detail' atividade.id %}">{{atividade.titulo}} </a> - {{aluno.nome}}
                    </li>
                {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="card mb-4 text-center col-5 card__enquetes">
            <div class="card-header"><h4>Ultimas Enquetes</h4></div>
            <div class="card-body">
                <ul class="list-group">
                    {% for enquete in enquetes %}
                    <li class="list-group-item">
                        
                        <a href="{% url 'enquete_detail' enquete.id %}">{{enquete}}</a>
                    </li>
                    {% endfor %}
            </div>
        </div>

    </div>
    <!-- Comunicados e Calendário -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Comunicados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Calendário</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active d-flex row" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="nav nav-pills flex-column col-3 order-last" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">

                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#todos_comunicados" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Todos</a>
                {% for aluno in alunos %}
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#aluno-{{aluno.id}}" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">{{aluno.nome}}</a>


                {% endfor %}
            </div>
            <div class="tab-content col-8 order-first" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="todos_comunicados" role="tabpanel"
                    aria-labelledby="v-pills-home">
                    {% for aluno in alunos %}
                    <h4>{{aluno}}</h4>
                    {% for comunicado in aluno.turma.comunicado_set.all %}
                    <h6>{{comunicado.titulo}}</h6>
                    <p>{{comunicado.descricao.html|safe}}</p>
                    <br>
                    <a class="float-right" href="{% url 'comunicado_detail' comunicado.id %}"><i class="fas fa-search-plus"></i>
                        Detalhes</a></a>
                    {% endfor %}
                    {% endfor %}
                </div>

                {% for aluno in alunos %}
                <div class="tab-pane fade col-8 order-first" id="aluno-{{aluno.id}}" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    {% for comunicado in aluno.turma.comunicado_set.all %}
                    <h4>{{comunicado.titulo}}</h4>
                    {{comunicado.descricao.html|safe}}
                    <br>
                    <a class="float-right" href="{% url 'comunicado_detail' comunicado.id %}"><i class="fas fa-search-plus"></i>
                        Detalhes</a></a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Calendário -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            'incluir CALENDARIO'
        </div>
    </div>
</main>

{% endblock %}