{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block extra_style %}
<link href='{% static "calendar/packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/list/main.css" %}' rel='stylesheet' />

<script src='{% static "calendar/packages/core/main.js" %}'></script>
<script src='{% static "calendar/packages/interaction/main.js" %}'></script>
<script src='{% static "calendar/packages/daygrid/main.js" %}'></script>
<script src='{% static "calendar/packages/timegrid/main.js" %}'></script>
<script src='{% static "calendar/packages/list/main.js" %}'></script>
<script src='{% static "calendar/packages/core/locales/pt-br.js" %}'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            defaultDate: '{{hoje|date:"Y-m-d"}}',
            navLinks: true, // can click day/week names to navigate views
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: 'get_calendario/',
                failure: function () {
                    document.getElementById('script-warning').style.display = 'block'
                }
            },
            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            },
            eventClick: function (info) {
                info.jsEvent.preventDefault();
                $('#dados_evento #modal_titulo').text(info.event.title)
                $('#dados_evento #modal_materia').text(info.event._def.extendedProps.materia)
                $('#dados_evento #modal_descricao').text(info.event._def.extendedProps.descricao)
                $('#dados_evento #modal_data_inicial').text(info.event.start.toLocaleString())
                $('#dados_evento #modal_data_final').text(info.event.end.toLocaleString())

                $('#dados_evento').modal('show')
            },
        });

        calendar.render();
    });
</script>
<style>
    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="card mb-4 boasvindas">
    <div class="card-header card__container">
        <h2>Bem vindo(a) à Intranet, {{user.first_name}} {{user.last_name}}</h2>
        <small>{{perfil}} {{aluno.turma}}</small>
    </div>
</div>


<main class="page_home page_aluno">

    <!-- Atividade escolar -->
    <div class="atividade__escolar-container">


        <div class="card__atividades">
            <div class="atividades">
                <div class="card-header">
                    <h1 class="titulosecoes"> <i></i> Atividades</h1>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for atividade in aluno.turma.atividadeescolar_set.all %}

                        <li class="list-group-item">
                            <a href="{% url 'atividade_escolar_detail' atividade.id %}">
                                {{atividade}} </a>- {{aluno.nome}}

                        </li>
                        {% endfor %}

                    </ul>
                </div>

            </div>
        </div>

        <!--Atividades extras-->
        <div class="col-6 card__atividades extras">
            <div class="card mb-4 text-center">
                <div class="card-header">
                    <h4>Atividades Extras</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for atividade_extra in aluno.turma.atividadeextra_set.all %}

                        <li class="list-group-item">
                            <a href="{% url 'atividade_extra_detail' atividade_extra.id %}">
                                {{atividade_extra}}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <!-- Calendário -->
        <!-- <div class="col-6 card__calendario">
                <div class="card mb-4 text-center">
                    <div class="card-header">
                        <h4>Calendário</h4>
                    </div>
                    <div class="card-body">
                        'incluir Calendário'
                    </div>
                </div>
            </div> -->


    </div>
    <!-- container Aluno-->
    <!-- Agenda -->
    <div class="d-flex justify-content-around row card__agenda">
        <div class="col-12 profile__aluno" id="profile">
            <div class="card mb-4 text-center container-fluid">

                <div class="card-body calendar fechado">
                    <div id='script-warning'>
                        Erro ao carregar eventos.
                    </div>

                    <div id='loading'>loading...</div>
                    <div id='calendar'></div>

                    <div class="show__calendar">
                        <ion-icon name="calendar-outline"></ion-icon> Ver calendario<ion-icon
                            name="chevron-down-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="">
        <!-- Comunicados -->
        <div class="card__comunicados">

            <div class=" ultimas_noticias comunicados__wrapper">
                {% for comunicado in aluno.turma.comunicado_set.all %}
                <div class="card card-ecommerce-3 o-hidden mb-4 noticia_destaque">
                    <div class="top__division">
                        <div class="card__img">
                            <img class="card-img-left" src="{{comunicado.foto.url}}" alt="">
                        </div>
                        <div class="card__titulo">
                            <h5 class="m-0">{{comunicado.titulo}}</h5>

                        </div>

                    </div>

                    <div class="card__texto">
                        <p>
                            {{comunicado.resumo.html|safe}}
                        </p>

                    </div>

                    <div class="leia-mais">
                        <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                name="arrow-forward-outline"></ion-icon></a>
                    </div>
                </div>
                <div class="card card-ecommerce-3 o-hidden mb-4 noticia_destaque">
                    <div class="top__division">
                        <div class="card__img">
                            <img class="card-img-left" src="{{comunicado.foto.url}}" alt="">
                        </div>
                        <div class="card__titulo">
                            <h5 class="m-0">{{comunicado.titulo}}</h5>

                        </div>

                    </div>

                    <div class="card__texto">
                        <p>
                            {{comunicado.resumo.html|safe}}
                        </p>

                    </div>

                    <div class="leia-mais">
                        <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                name="arrow-forward-outline"></ion-icon></a>
                    </div>
                </div>
                <div class="card card-ecommerce-3 o-hidden mb-4 noticia_destaque">
                    <div class="top__division">
                        <div class="card__img">
                            <img class="card-img-left" src="{{comunicado.foto.url}}" alt="">
                        </div>
                        <div class="card__titulo">
                            <h5 class="m-0">{{comunicado.titulo}}</h5>

                        </div>

                    </div>

                    <div class="card__texto">
                        <p>
                            {{comunicado.resumo.html|safe}}
                        </p>

                    </div>

                    <div class="leia-mais">
                        <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                name="arrow-forward-outline"></ion-icon></a>
                    </div>
                </div>
                <div class="card card-ecommerce-3 o-hidden mb-4 noticia_destaque">
                    <div class="top__division">
                        <div class="card__img">
                            <img class="card-img-left" src="{{comunicado.foto.url}}" alt="">
                        </div>
                        <div class="card__titulo">
                            <h5 class="m-0">{{comunicado.titulo}}</h5>

                        </div>

                    </div>

                    <div class="card__texto">
                        <p>
                            {{comunicado.resumo.html|safe}}
                        </p>

                    </div>

                    <div class="leia-mais">
                        <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                name="arrow-forward-outline"></ion-icon></a>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}

                <div class="row">
                    <div class="col-4 text-left">
                        {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}" class="ml-2" style="text-decoration: none;"><i
                                class="i-Arrow-Left"></i></a>
                        {% endif %}
                    </div>
                    <div class="col-4 text-center">
                        <span class="current">
                            {{page_obj.number}} de {{page_obj.paginator.num_pages}}
                        </span>
                    </div>
                    <div class="col-4 text-right">
                        {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}" class="mr-2" style="text-decoration: none;"><i
                                class="i-Arrow-Right"></i></a>
                        {% endif %}
                    </div>
                </div>

                {% endif %}





            </div>
        </div>
    </div>

    <div class="row visualizar__wrapper">
        <div class="col-12">
            <a href="materiais_didaticos/comunicados/" class="ml-2 btn-visualizar-todos"
                style="text-decoration: none;">Visualizar Todos <ion-icon name="arrow-forward-outline"></ion-icon></a>
        </div>
    </div>
    <!--Materiais didáticos-->
    <div class="card mb-4 text-center card__materia_didatico">
        <div class="card-header">
            <h4>Material Didático</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="material_didatico">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Turmas</th>
                            <th>Anexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material_didatico in aluno.turma.materialdidatico_set.all %}
                        <tr>
                            <td>{{material_didatico.titulo}}</td>
                            <td>{{material_didatico.turmas_vinculadas}}</td>
                            <td><a href="{% url 'material_didatico_detail' material_didatico.id %}"><i
                                        class="fas fa-search-plus"></i> Detalhes</a></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="dados_evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes da Atividade</h5>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>Título</dt>
                    <dd id="modal_titulo"></dd>

                    <dt>Matéria</dt>
                    <dd id="modal_materia"></dd>

                    <dt>Descrição</dt>
                    <dd id="modal_descricao"></dd>

                    <dt>Data Inicial</dt>
                    <dd id="modal_data_inicial"></dd>

                    <dt>Data Final</dt>
                    <dd id="modal_data_final"></dd>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#material_didatico').DataTable({
            "language": {
                "show": "Visualizar",
                "lengthMenu": "Mostrar _MENU_ linhas por página",
                "zeroRecords": "Nada encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Nada encontrado",
                "infoFiltered": "(filtrado de _MAX_ no total)",
                "search": "Pesquisar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próxima"
                }
            },
        });
    });
</script>
{% endblock %}