{% load static %}
{% load home_tags %}

<div class="side-content-wrap" >
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
        <ul class="navigation-left" style="overflow-y: auto;">
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'home' %}">

                    <ion-icon src="{% static 'assets/images/icons/house2.svg' %}"></ion-icon>
                    <span class="nav-text">Início</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                {% minha_turma as minha_turma %}
                <a class="nav-item-hold" href="{% url 'turma_detail' minha_turma.id %}">
                    <ion-icon src="{% static 'assets/images/icons/blackboard.svg' %}"></ion-icon>
                    <span class="nav-text">Minha Turma</span>
                </a>
                <div class="triangle"></div>
            </li>
<!--             {% if perms.core.pode_acessar_informativos %}
            <li class="nav-item" data-item="informativos">
                <a class="nav-item-hold" href="#">
                    <ion-icon src="{% static 'assets/images/icons/info.svg' %}"></ion-icon>

                    <span class="nav-text">Acontece na Cambaúba</span>
                </a>
                <div class="triangle"></div>
            </li>
            {% endif %} -->
            {% if perms.core.pode_acessar_atividades %}
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'atividades_extras' %}">
                    <ion-icon src="{% static 'assets/images/icons/extra.svg' %}"></ion-icon>

                    <span class="nav-text">Atividades Extras</span>
                </a>
                <div class="triangle"></div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="sidebar-overlay"></div>
</div>
<div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
    <ul class="childNav" data-parent="informativos">
        <p class="titulo_produto"> <ion-icon src="{% static 'assets/images/icons/info.svg' %}"></ion-icon>Acontece na Cambaúba</p>
        <li class="nav-item">
            <a href="{% url 'balancetes' %}" class="item-name">
                <span class="item-name">Balancetes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'balancos_patrimoniais' %}" class="item-name">
                <span class="item-name">Balanços Patrimoniais</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'documentacoes_obras' %}" class="item-name">
                <span class="item-name">Documentações de Obras</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'atas_reunioes' %}" class="item-name">
                <span class="item-name">Atas de Reuniões</span>
            </a>
        </li>
    </ul>
</div>
<div class="sidebar-overlay"></div>
</div>
<!--=============== Left side End ================-->