{% load static %}
{% load home_tags %}


<style>
/* width */
teste::-webkit-scrollbar {
  width: 20px;
}

/* Track */
teste::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
teste::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
teste::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
</style>

<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
    <div class = "teste" style="overflow-y: auto!important;">
        <ul class="navigation-left">
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'home' %}">
                    <img src="{% static 'assets/images/inicio.png' %}" alt="">
                
                    <span class="nav-text">Início</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="turmas">
                <a class="nav-item-hold" href="#">
                    <img src="{% static 'assets/images/atividade.png' %}" alt="">
                
                    <span class="nav-text">Turmas</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                <a class="nav-item-hold" href="https://sigma.cambauba.com.br/WebUI/" target="_blank">
                    <img src="{% static 'assets/images/icons/forward.svg' %}" alt="">
                
                    <span class="nav-text">Sigma Professor</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'admin:index' %}">
                    <img src="{% static 'assets/images/inicio.png' %}" alt="">
                
                    <span class="nav-text">Admin</span>
                </a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>
    </div>
    <div class="sidebar-overlay"></div>
</div>
<div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
    <ul class="childNav" data-parent="turmas">
        {% minhas_turmas_professor as minhas_turmas %}
        {% for turma in minhas_turmas %}
            <li class="nav-item">
                <a href="{% url 'turma_detail' turma.id %}" class="item-name">
                    <span class="item-name">{{turma.nome}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="sidebar-overlay"></div>
</div>
<!--=============== Left side End ================-->