{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="row post-single ">
    <div class="col-12">
        <div class="card o-hidden mb-4 detalhe-post">
        {% if object.foto_capa %}
        <div class="fundo-post" style="background-image: url({{object.foto_capa.url}}); height: 300px;"></div>
        {% else %}
        <div class="fundo-post" style="background-image: url(/static/assets/images/fundo_padrao.jpg); height: 300px;"></div>
        {% endif %}

            <div class="text-center">
                <p class="text-24">{{object.titulo}}</p>
                <p><small>{{object.data_criacao}}</small></p>
                <p>{{object.descricao.html|safe}}</p>
                <a href="{% url 'home' %}" class="btn btn-primary w-50 text-white mt-3 leia-mais mb-">Voltar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}