{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block extra_style %}
<!--Load the AJAX API-->
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block content %}
<main class="enquete__resultados">

    <div class="enquetes-details card user-profile o-hidden mb-4">
        {% if object.foto_capa %}
        <div class="header-cover" style="background-image: url({{object.foto_capa.url}})"></div>
        {% else %}
        <div class="header-cover" style="background-image: url(/static/assets/images/fundo_padrao.jpg);"></div>
        {% endif %}

        <div class="card-body">
            <h4>{{ object.titulo }}</h4>
            <hr>
            <div class="enquete__percent">
                <ul>
                    {% for opcao in object.opcao_set.all %}
                        <li>
                            {{opcao.titulo.html|safe}}
                            {% comment %} <p style="position:absolute;"class="quantidade_opcoes">{{opcao.quantidade_resposta_opcao}} voto(s)</p> {% endcomment %}
                            <div class="bar__container">
                                {% widthratio opcao.quantidade_resposta_opcao object.quantidade_respostas 100 as this_option %}
                                <span class="percent" style="--percent-var: {{this_option}}%;"></span>
                                <span style="z-index:1;" style= "position: absolute;"class="dados">{{this_option}}%</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <p class="text-primary mb-1">
                            <ion-icon name="newspaper-outline"></ion-icon>Descrição
                        </p>
                        <span>{{object.descricao.html|safe}}</span>
                    </div>
                    {% if object.anexo %}
                        <div class="mb-4">
                            <p class="text-primary mb-1">
                                <ion-icon name="attach-outline"></ion-icon>Anexo
                            </p>
                            <span><a href="{{object.anexo.url}}" target="_blank">{{object.anexo}}</a></span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 data__row">
                    <div class="mb-4">
                        <p class="text-primary mb-1">
                            <ion-icon name="calendar-outline"></ion-icon>Data da Expiração
                        </p>
                        <span>{{object.data_expiracao}}</span>
                    </div>
                </div>

                <div class="col-12 respostas__enquete">
                    <hr>
                    <h4>Resposta(s) ({{object.quantidade_respostas}}):</h4>
                    <table class="table table-striped" id="enquetes">
                        <thead>
                            <tr>
                                <th>Opção</th>
                                <th>Quantidade de votos</th>
                                <th>Porcentagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opcao in object.opcao_set.all %}
                            <tr>
                                <td id='questao'>{{opcao.titulo.html|safe}}</td>
                                <td id='quantidade_questao'>{{opcao.quantidade_resposta_opcao}}</td>
                                <td>{% widthratio opcao.quantidade_resposta_opcao object.quantidade_respostas 100 %}%
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}