{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h2>Enquetes</h2>
        <small>Listas das Enquetes</small>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="enquetes">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Data de Expiração</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enquete in enquetes %}
                    <tr>
                        <td>{{enquete.titulo}}</td>
                        <td>{{enquete.data_expiracao}}</td>
                        <td>
                            <a href="{% url 'enquete_detail' enquete.id %}"><i class="fas fa-search-plus"></i> Detalhes</a></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#enquetes').DataTable({
                "language": {
                    "show": "Visualizar",
                    "lengthMenu": "Mostrar _MENU_ linhas por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nada encontrado",
                    "infoFiltered": "(filtrado de _MAX_ no total)",
                    "search": "Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próxima"
                    }
                },
            });
        });    
    </script>
{% endblock %}