body#page__login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    zoom:1.1;

}

@import "reset";
@import "responsivo";

$cinza-font: #003662;
$azul-escuro:#292525;
$amarelo:#003662;
$cinza-bordas:#EDEDED;


#page__login {

    .login__wrapper {
        display: flex;
        overflow: hidden;
        
    }

    .imagem__quebra {
        width: 40%;
        height: 100vh;
        position: relative;
        z-index: 1;

        img {
            object-fit: cover;
            height: 100%;
            position: absolute;
        }

        @include d(m) {
            display: none;
        }
    }

    .area__login {
        width: 60%;
        z-index: 2;
        @include d(m) {
            width: 100%;
        }
    }

    .campos {
        max-width: 600px;
        margin: 40px 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        justify-content: center;
        

    }

    .campos::after {
        content: "";
        background-image: url("/grupo 2292.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        display: none;
        width: 100px;
    
        height: 200px;
        z-index: -1;
        @include d(s){
        width: 40px;
        top: 20px;
        margin-bottom: 100px;
    
       
        right: 0px;

        }
        @include d(m){
            right: -250px;
        }

    }
.lembrar__label{
    color: $cinza-font;
    font-size: 14px;
    margin-top:15px;
}
    .campos h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 152%;
        letter-spacing: 0.04em;
        color: #525151;
        margin-bottom: 50px;
        @include d(s){
            margin-top:60px;
        }
    }



    .entrar {
        margin-top: 0px;
        padding: 10px 30px;
        left: 536px;
        top: 466px;
        font-weight: bold;
        background: $amarelo;
        display: inline-block;
        transition: 0.4s ease;
        border-radius: 10px;
        margin-top: 20px;


    }
    input[type="radio"]{
        vertical-align: bottom;
    }

    .email {
        position: relative;

    }

    .email input,
    .password input {
        background: #FFFFFF;
        border: 1px solid $cinza-bordas;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 15px 20px;
        padding-left: 10px;
        width: 300px;
        @include d(s){
        max-width: 300px;
        width:initial;
            
        }
        @include d(m){
            max-width: 300px;
            width:100%;
                
            }
    }

    .email__label,
    .senha__label {
        position: absolute;
        background: white;
        padding: 3px 10px;
        padding-bottom: 0;
        top: -15px;
        max-width: 60px;
        display: inline-block;
        margin-top: 0 !important;
        height: 22px;
        left: 15px;
        font-size: 14px;
        text-align: center;
        color: $cinza-font;
    }

    .pass {
        margin-top: 30px;
    }

    .entrar button {
        font-weight: bold;
        color: white !important;
        font-size: 16px;
        cursor:pointer
    }

    .entrar:hover {
        -webkit-box-shadow: 0px 16px 17px -18px rgba(0,54,98,1);
-moz-box-shadow: 0px 16px 17px -18px rgba(0,54,98,1);
box-shadow: 0px 16px 17px -18px rgba(0,54,98,1);
    }

    .esqueceu {
        // margin-top: 20px;
        font-size: 12px;
        display: inline-block;
        color: #121212;
        font-weight: 500;
    }

    .voltar {
        margin-top: 30px;
        color: $amarelo;
        display: inline-block;

        span {
            display: inline-block;
            transition: transform 0.3 ease;

        }
    }

    .voltar:hover {
        font-weight: bold;

        span {
            transform: translateX(-10px);


        }
    }

    .wrapper__button {
        display: flex;
        align-items: center;
        max-width: 300px;
        margin-top: 30px;

        a.esqueceu {
            margin-left: 50px;
            display: inline-block
        }

    }

    label {
        position: relative;
        background: white;
        padding: 3px;
        bottom: -5px;
    }


    @media screen and (max-width: 700px) {
        .campos::after {
            //right: 20px;
            width: 160px;
            height: 300px;
            bottom: 0px;

        }
    }

  /*   @media screen and (min-width: 1440px) and (max-width: 2000px) {
        .campos::after {
            right: 0px;
            left: 1000px;

        }
    } */

}