{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<main class="single__atividades">
    <div class="card user-profile o-hidden mb-4">
        {% if object.materia.foto_capa %}
        <div class="header-cover" style="background-image: url({{object.materia.foto_capa.url}})"></div>
        {% else %}
        <div class="header-cover" style="background-image: url(/static/assets/images/fundo_padrao.jpg);"></div>
        {% endif %}


        <div class="card-body ">
            <div class="tab-content" id="profileTabContent">
                <div class="tab-pane active fade show" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <h4>{{ object.titulo }}</h4>
                    <hr>
                    <div class="row">

                        <div class="mb-4 col-12">
                            <p class="text-primary mb-1"><ion-icon name="document-text-outline"></ion-icon>Descrição</p>
                            <span>{{object.descricao}}</span>
                        </div>
                        <div class="col-md-4 col-6 card__detalhes">

                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <ion-icon name="calendar-outline"></ion-icon>Data inicial
                                </p>
                                <span>{{object.data_inicial|default_if_none:'-'}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <ion-icon name="calendar-outline"></ion-icon>Data final
                                </p>
                                <span>{{object.data_final|default_if_none:'-'}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 card__detalhes">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i>Anexo</p>
                                {% if object.anexo %}
                                <span><a href="{{object.anexo.url}}">{{object.anexo|default_if_none:'-'}}</a></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}