{% load static %}
{% load indicacao_mesa_tag %}
{% load produtos_tag %}

<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'home' %}">
                    <img src="{% static 'assets/images/inicio.png' %}" alt="">
                    <br>
                    <span class="nav-text">Início</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="produtos_criteria">
                <a class="nav-item-hold" href="#">
                    <img src="{% static 'assets/images/product.png' %}" alt="">
                    <br>
                    <span class="nav-text">Produtos Critéria</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="indicacoes_mesa">
                <a class="nav-item-hold" href="#">
                    <img src="{% static 'assets/images/target.png' %}" alt="">
                    <br>
                    <span class="nav-text">Indicações para Mesas</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                <a class="nav-item-hold" href="{% url 'arquivos' %}">
                    <img src="{% static 'assets/images/promotion.png' %}" alt="">
                    <br>
                    <span class="nav-text">Material Comercial</span>
                </a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>

    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
        <!-- Submenu Dashboards -->
        <ul class="childNav" data-parent="produtos_criteria">

            <p class="titulo_produto">Carteiras</p>
            {% tipos_carteiras as tipos_carteiras %}
            {% for tipo in tipos_carteiras %}

                <li class="nav-item dropdown-sidemenu">
                    <a class="item-name">
                        <span class="item-name">{{ tipo.nome }}</span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        {% for categoria in tipo.categoriacarteira_set.all %}
                            <li class="nav-item">
                                <a href="{% url 'listar_carteiras' categoria.id %}">
                                    <span class="item-name">{{ categoria.nome }}</span>
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                </li>
            {% endfor %}

            <p class="titulo_produto">Alocações</p>
            {% tipos_alocacoes as tipos_alocacoes %}
            {% for tipo in tipos_alocacoes %}

                <li class="nav-item dropdown-sidemenu">
                    <a class="item-name">
                        <span class="item-name">{{ tipo.nome }}</span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        {% for categoria in tipo.categoriaalocacao_set.all %}
                            <li class="nav-item">
                                <a href="{% url 'listar_alocacoes' categoria.id %}">
                                    <span class="item-name">{{ categoria.nome }}</span>
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <ul class="childNav" data-parent="indicacoes_mesa">
            <p class="titulo_produto">Indicação para Mesas</p>
            <li class="nav-item">
                <a href="{% url 'indicacao_assessor_create' %}">
                    <span class="item-name">{% mesa_by_id 7 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'solution' %}">
                    <span class="item-name">{% mesa_by_id 1 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'mesa_rv' %}">
                    <span class="item-name">{% mesa_by_id 2 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'offshore' %}">
                    <span class="item-name">{% mesa_by_id 3 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'private' %}">
                    <span class="item-name">{% mesa_by_id 4 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seguro' %}">
                    <span class="item-name">{% mesa_by_id 5 %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'mesa_proprietaria' %}">
                    <span class="item-name">{% mesa_by_id 6 %}</span>
                </a>
            </li>
            <p class="titulo_produto">Acompanhamento</p>

            <li class="nav-item">
                <a href="{% url 'indicacoes' %}">
                    <span class="item-name">Minha Mesa</span>
                </a>
            </li>
        </ul>

    </div>
    <div class="sidebar-overlay"></div>
</div>
<!--=============== Left side End ================-->