{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block extra_style %}
<link href='{% static "calendar/packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/list/main.css" %}' rel='stylesheet' />

<script src='{% static "calendar/packages/core/main.js" %}'></script>
<script src='{% static "calendar/packages/interaction/main.js" %}'></script>
<script src='{% static "calendar/packages/daygrid/main.js" %}'></script>
<script src='{% static "calendar/packages/timegrid/main.js" %}'></script>
<script src='{% static "calendar/packages/list/main.js" %}'></script>
<script src='{% static "calendar/packages/core/locales/pt-br.js" %}'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            defaultDate: '{{hoje|date:"Y-m-d"}}',
            navLinks: true, // can click day/week names to navigate views
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '/get_calendario/?turma={{turma.id}}',
                failure: function () {
                    document.getElementById('script-warning').style.display = 'block'
                }
            },
            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            },
            eventClick: function (info) {
                info.jsEvent.preventDefault();
                $('#dados_evento #modal_titulo').text(info.event.title)
                $('#dados_evento #modal_materia').text(info.event._def.extendedProps.materia)
                $('#dados_evento #modal_descricao').text(info.event._def.extendedProps.descricao)
                $('#dados_evento #modal_data_inicial').text(info.event.start.toLocaleString())
                $('#dados_evento #modal_data_final').text(info.event.end.toLocaleString())

                $('#dados_evento').modal('show')
            },
        });

        calendar.render();
    });
</script>
<style>
    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="card mb-4 boasvindas">
    <div class="card-header card__container">
        <h2>Perfil do aluno {{aluno.nome}}</h2>
        <small>{{perfil}} {{aluno.turma}}</small>
    </div>
</div>

<main class="page_home page_aluno">

    <!-- Atividade escolar -->
    <div class="atividade__escolar-container">

        <div class="atividade-container">
            <div class="card__atividades js-gsap">
                <div class="atividades">
                    <div class="card-header">
                        <h1 class="titulosecoes"> <i></i> Atividades</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for atividade in aluno.turma.atividadeescolar_set.all %}
                            <div>
                            
                                <div style="border-left: 10px solid {{atividade.materia.hexadecimal}}">
                                <li class="list-group-item">
                                    <a href="{% url 'atividade_escolar_detail' atividade.id %}">
                                        {{atividade}} </a>- {{aluno.nome}}

                                </li>
                            </div>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>

            <div class="ver__container">
                <a href="{% url 'atividades_escolares' %}" class="ver-mais text-16 text-center">Ver todos <ion-icon
                        name="arrow-forward-outline"></ion-icon></a>
            </div>
        </div>


        <!--Atividades extras-->
        <div class="atividade-container">
            <div class="card__atividades extras js-gsap">
                <div class="atividades">
                    <div class="card-header">
                        <h1 class="titulosecoes"> <i></i> Atividades Extras</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for atividade_extra in aluno.turma.atividadeextra_set.all %}

                            <li class="list-group-item">
                                <a href="{% url 'atividade_extra_detail' atividade_extra.id %}">
                                    {{atividade_extra}}
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="ver__container">
                <a href="{% url 'atividades_extras' %}" class="ver-mais text-16 text-center">Ver todos<ion-icon
                        name="arrow-forward-outline"></ion-icon></a>
            </div>
        </div>
        <!-- Calendário -->
        <!-- <div class="col-6 card__calendario">
                <div class="card mb-4 text-center">
                    <div class="card-header">
                        <h4>Calendário</h4>
                    </div>
                    <div class="card-body">
                        'incluir Calendário'
                    </div>
                </div>
            </div> -->


    </div>
    <!-- container Aluno-->
    <!-- Agenda -->
    <div class="d-flex justify-content-around row card__agenda js-gsap">
        <div class="col-12 profile__aluno" id="profile">
            <div class="">
                <div class="card-body calendar fechado">
                    <div id='script-warning'>
                        Erro ao carregar eventos.
                    </div>

                    <div id='loading'>loading...</div>
                    <div id='calendar'></div>

                    <div class="show__calendar">
                        <ion-icon name="calendar-outline"></ion-icon> Ver calendario<ion-icon
                            name="chevron-down-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="">
        <!-- Comunicados -->
        <div class="card__comunicados js-gsap">

            <div class="comunicado__title">
                <h2>
                    <ion-icon name="receipt-outline"></ion-icon>Comunicados
                </h2>
            </div>

            <div class="swiper__container-aluno">
                <!-- wrapper -->
                <div class="comunicados__wrapper swiper-wrapper">
                    {% for comunicado in aluno.turma.comunicados_exibicao %}
                    <div class="card card-ecommerce-3 swiper-slide o-hidden mb-4 noticia_destaque">
                        <div class="notica__wrapper">
                            <div class="top__division">
                                <div class="card__img">
                                    {% if comunicado.foto %}
                                    <img src="{{comunicado.foto.url}}" alt="">
                                    {% else %}
                                    <img src="{% static 'assets/images/capa_comunicado.png' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="card__titulo">
                                    <h5 class="m-0">{{comunicado.titulo}}</h5>
                                </div>
                            </div>

                            <div class="card__texto">
                                <span>
                                    {{comunicado.resumo.html|safe}}
                                </span>
                            </div>

                            <div class="leia-mais">
                                <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                        name="arrow-forward-outline"></ion-icon></a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <!--  <div class=" ultimas_noticias comunicados__wrapper">
                {% for comunicado in pagina_atual %}
                    <div class="card card-ecommerce-3 o-hidden mb-4 noticia_destaque">
                        <div class="top__division">
                            <div class="card__img">
                                {% if comunicado.foto %}
                                <img class="card-img-left" src="{{comunicado.foto.url}}" alt="">
                                {% else %}
                                <div class="card__img"> <img src="{% static 'assets/images/foto_comunicado' %}" alt=""></div>
                                {% endif %}
                            </div>
                            <div class="card__titulo">
                                <h5 class="m-0">{{comunicado.titulo}}</h5>
                                <small>{{comunicado.usuario_criacao.first_name}} {{comunicado.usuario_criacao.last_name}}</small>
                            </div>

                        </div>

                        <div class="card__texto">
                            <p>
                                {{comunicado.resumo.html|safe}}
                            </p>

                        </div>

                        <div class="leia-mais">
                            <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon
                                    name="arrow-forward-outline"></ion-icon></a>
                        </div>
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </div>

    <div class="row visualizar__wrapper">
        <div class="ver__todos">
            <a href="{% url 'comunicados_turma' aluno.turma.id%}">Ver Todos <ion-icon name="arrow-forward-outline"></ion-icon></a>
        </div>
    </div>
    <!--Materiais didáticos-->
    <div class="card mb-4 text-center card__materia_didatico">
        <div class="card-header">
            <h4>Material Didático</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="material_didatico">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Turmas</th>
                            <th>Anexo</th>
                            <th>Matéria</th>
                            <th>Data de Upload</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material_didatico in aluno.turma.materialdidatico_set.all %}
                        <tr>
                            <td>{{material_didatico.titulo}}</td>
                            <td>{{material_didatico.turmas_vinculadas}}</td>
                            <td>
                                {% if material_didatico.anexo %}
                                <a href="{{material_didatico.anexo.url}}" target="_blank">Download</a>
                                {% endif %}
                            </td>
                            <td>{{material_didatico.materia.titulo}}</td>
                            <td>{{material_didatico.data}}</td>
                            <td><a class="detalhes" href="{% url 'material_didatico_detail' material_didatico.id %}"><i
                                        class="fas fa-search-plus"></i> Detalhes</a></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="dados_evento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes da Atividade</h5>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>Título</dt>
                    <dd id="modal_titulo"></dd>

                    <dt>Matéria</dt>
                    <dd id="modal_materia"></dd>

                    <dt>Descrição</dt>
                    <dd id="modal_descricao"></dd>

                    <dt>Data Inicial</dt>
                    <dd id="modal_data_inicial"></dd>

                    <dt>Data Final</dt>
                    <dd id="modal_data_final"></dd>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const props = {
        slidesPerView: 'auto',
        spaceBetween: 30,
        centeredSlides: false,
        freeMode: false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        breakpoints: {
            320: {
                slidesPerView: "auto",
                centeredSlides: true,
                spaceBetween: 15,
            },
            720: {
                slidesPerView: "auto",
                centeredSlides: false,
                spaceBetween: 15,
            },
            1024: {
                slidesPerView: "auto",
                spaceBetween: 50,
                centeredSlides: false,

            },

            1240: {
                slidesPerView: "auto",
                spaceBetween: 20,
                centeredSlides: false,

            },
        }
    }

    /* carouseis */
    /*  let carouseis = document.querySelectorAll(".swiper__container-all")
     carouseis.forEach((i) => {
         new Swiper(i, props) //loop para add carouseis

     }) */

    let carouselAluno = document.querySelector(".swiper__container-aluno")
    new Swiper(carouselAluno, props)

    $(document).ready(function () {
        $('#material_didatico').DataTable({
            "language": {
                "show": "Visualizar",
                "lengthMenu": "Mostrar _MENU_ linhas por página",
                "zeroRecords": "Nada encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Nada encontrado",
                "infoFiltered": "(filtrado de _MAX_ no total)",
                "search": "Pesquisar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próxima"
                }
            },
        });
    });
</script>

{% endblock %}