{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block extra_style %}
<link href='{% static "calendar/packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/list/main.css" %}' rel='stylesheet' />

<script src='{% static "calendar/packages/core/main.js" %}'></script>
<script src='{% static "calendar/packages/interaction/main.js" %}'></script>
<script src='{% static "calendar/packages/daygrid/main.js" %}'></script>
<script src='{% static "calendar/packages/timegrid/main.js" %}'></script>
<script src='{% static "calendar/packages/list/main.js" %}'></script>
<script src='{% static "calendar/packages/core/locales/pt-br.js" %}'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            defaultDate: '{{hoje|date:"Y-m-d"}}',
            navLinks: true, // can click day/week names to navigate views
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '/get_calendario/',
                failure: function () {
                    document.getElementById('script-warning').style.display = 'block'
                }
            },
            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            },
            eventClick: function (info) {
                info.jsEvent.preventDefault();
                $('#dados_evento #modal_titulo').text(info.event.title)
                $('#dados_evento #modal_materia').text(info.event._def.extendedProps.materia)
                $('#dados_evento #modal_descricao').text(info.event._def.extendedProps.descricao)
                $('#dados_evento #modal_data_inicial').text(info.event.start.toLocaleString())
                $('#dados_evento #modal_data_final').text(info.event.end.toLocaleString())

                $('#dados_evento').modal('show')
            },
        });

        calendar.render();
    });
</script>
<style>
    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Titulo - Aluno -->
<main class="page_turma-single">

    <div class="boasvindas">
        <div class="card-header">

            <h2> <i></i>{{ object.nome }}</h2>
        </div>
    </div>



    <div class="materias__wrapper">
        <section class="materiais-didaticos ">
            <h1 class="titulosecoes">Material Didático <i></i></h1>
            <div class="conteudo-materialdidatico">
                {% for material_didatico in materiais_didaticos %}
                <div class="sidebar" style="border-left: 10px solid {{material_didatico.materia.hexadecimal}}">
                    <a href="{% url 'material_didatico_detail' material_didatico.id %}" class="link-area"></a>
                    <h3 class="sidebar-titulo mt-0">{{material_didatico.titulo}}</h3>
                    <div class="sidebar__wrapper">
                        <span class="sidebar-materia">{{material_didatico.materia}}</span>
                        <span class="sidebar-data ">{{material_didatico.data}}</span>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>

        <section class="ativ-escolares">
            <h1 class="titulosecoes">Atividades Escolares <i></i></h1>
            <div class="conteudo-ativ-escolares">
                {% for atividade_escolar in atividades_escolares %}
                <div class="sidebar" style="border-left: 10px solid {{atividade_escolar.materia.hexadecimal}}">
                    <a href="{% url 'atividade_escolar_detail' atividade_escolar.id %}" class="link-area"></a>
                    <h3 class="sidebar-titulo mt-0">{{atividade_escolar.titulo}}</h3>

                    <div class="sidebar__wrapper">
                        <span class="sidebar-materia">{{atividade_escolar.materia}}</span>
                        <span class="sidebar-data">{{atividade_escolar.data_inicial}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>


    </div>

    <section class="calendario">
        <h1 class="titulosecoes">
            <ion-icon name="calendar-outline"></ion-icon> Calendário
        </h1>
        <div class="conteudo-calendario">
            <div class="card-body calendar">
                <div id='script-warning'>
                    Erro ao carregar eventos.
                </div>

                <div id='loading'>loading...</div>
                <div id='calendar'></div>
                <div class="show__calendar">
                    <ion-icon name="calendar-outline"></ion-icon> Ver calendario<ion-icon name="chevron-down-outline">
                    </ion-icon>
                </div>
            </div>
        </div>
    </section>

    <section class="comunicados">
        <h1 class="titulosecoes">
            <ion-icon name="receipt-outline"></ion-icon> Comunicados
        </h1>
        <div class="conteudo-comunicados comunicados__wrapper">
            {% for comunicado in comunicados %}

            <div class="noticia_destaque card">

                <div class="top__division">
                    <div class="card__img" style="background-image: url({{comunicado.foto.url}})"></div>

                    <div class="card__titulo">
                        <h3>{{comunicado.titulo}}</h3>
                    </div>

                </div>

                <div class="card__texto">
                    <p class="comunicado-resumo">{{comunicado.resumo.html|safe}}</p>
                </div>


                <div class="card__meta">
                    <span class="comunicado-header-meta-autor">{{comunicado.usuario_criacao.first_name}}
                        {{comunicado.usuario_criacao.last_name}} </span>
                    <span class="comunicado-header-meta-data float-right">{{comunicado.data}}</span>
                </div>

                <span class="leia-mais">
                    <a href="{% url 'comunicado_detail' comunicado.id %}" class="text-dark">Ler Mais <ion-icon
                            name="arrow-forward-outline"></ion-icon></a></a>
                </span>
            </div>


            {% endfor %}
        </div>
        <nav aria-label="Navegação">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>


</main>
{% endblock %}

<!-- {% block extra_js %}
<script>
    $(document).ready(function () {
        $('#material_didatico').DataTable({
            "language": {
                "show": "Visualizar",
                "lengthMenu": "Mostrar _MENU_ linhas por página",
                "zeroRecords": "Nada encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Nada encontrado",
                "infoFiltered": "(filtrado de _MAX_ no total)",
                "search": "Pesquisar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próxima"
                }
            },
        });
    });
</script>
{% endblock %} -->