{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block extra_style %}
<link href='{% static "calendar/packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "calendar/packages/list/main.css" %}' rel='stylesheet' />

<script src='{% static "calendar/packages/core/main.js" %}'></script>
<script src='{% static "calendar/packages/interaction/main.js" %}'></script>
<script src='{% static "calendar/packages/daygrid/main.js" %}'></script>
<script src='{% static "calendar/packages/timegrid/main.js" %}'></script>
<script src='{% static "calendar/packages/list/main.js" %}'></script>
<script src='{% static "calendar/packages/core/locales/pt-br.js" %}'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            defaultDate: '{{hoje|date:"Y-m-d"}}',
            navLinks: true, // can click day/week names to navigate views
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '/get_calendario/',
                failure: function () {
                    document.getElementById('script-warning').style.display = 'block'
                }
            },
            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            },
            eventClick: function (info) {
                info.jsEvent.preventDefault();
                $('#dados_evento #modal_titulo').text(info.event.title)
                $('#dados_evento #modal_materia').text(info.event._def.extendedProps.materia)
                $('#dados_evento #modal_descricao').text(info.event._def.extendedProps.descricao)
                $('#dados_evento #modal_data_inicial').text(info.event.start.toLocaleString())
                $('#dados_evento #modal_data_final').text(info.event.end.toLocaleString())

                $('#dados_evento').modal('show')
            },
        });

        calendar.render();
    });
</script>
<style>
    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Titulo - Aluno -->
<main class="page_turma-single">

    <div class="boasvindas js-gsap">
        <div class="card-header">

            <h2> <i></i>{{ object.nome }}</h2>
        </div>
    </div>



    <div class="materias__wrapper">
        <section class="materiais-didaticos js-gsap">
            <h1 class="titulosecoes">Material Didático <i></i></h1>
            <div class="conteudo-materialdidatico">
                {% for material_didatico in materiais_didaticos %}
                <div class="sidebar" style="border-left: 10px solid {{material_didatico.materia.hexadecimal}}">
                    <a href="{% url 'material_didatico_detail' material_didatico.id %}" class="link-area"></a>
                    <h3 class="sidebar-titulo mt-0">{{material_didatico.titulo}}</h3>
                    <div class="sidebar__wrapper">
                        <span class="sidebar-materia">{{material_didatico.materia}}</span>
                        <span class="sidebar-data ">{{material_didatico.data}}</span>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>

        <section class="ativ-escolares js-gsap">
            <h1 class="titulosecoes">Atividades Escolares <i></i></h1>
            <div class="conteudo-ativ-escolares">
                {% for atividade_escolar in atividades_escolares %}
                <div class="sidebar" style="border-left: 10px solid {{atividade_escolar.materia.hexadecimal}}">
                    <a href="{% url 'atividade_escolar_detail' atividade_escolar.id %}" class="link-area"></a>
                    <h3 class="sidebar-titulo mt-0">{{atividade_escolar.titulo}}</h3>

                    <div class="sidebar__wrapper">
                        <span class="sidebar-materia">{{atividade_escolar.materia}}</span>
                        <span class="sidebar-data">{{atividade_escolar.data_inicial}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>


    </div>

    <section class="calendario ">
        <h1 class="titulosecoes">
            <ion-icon name="calendar-outline"></ion-icon> Calendário
        </h1>
        <div class="conteudo-calendario js-gsap">
            <div class="card-body calendar">
                <div id='script-warning'>
                    Erro ao carregar eventos.
                </div>

                <div id='loading'>loading...</div>
                <div id='calendar'></div>
                <div class="show__calendar">
                    <ion-icon name="calendar-outline"></ion-icon> Ver calendario<ion-icon name="chevron-down-outline">
                    </ion-icon>
                </div>
            </div>
        </div>
    </section>

    <section class="comunicados">
        <h1 class="titulosecoes">
            <ion-icon name="receipt-outline"></ion-icon> Comunicados
        </h1>
        <div class="conteudo-comunicados">
            <div class="swiper__container-turma">
                <!-- wrapper -->
                <div class="comunicados__wrapper swiper-wrapper">
                    <!-- item -->
                    {% for comunicado in comunicados %}
                        <div class="card card-ecommerce-3 swiper-slide o-hidden mb-4 noticia_destaque">
                            <div class="notica__wrapper">
                                <div class="top__division">
                                    {% if comunicado.foto %}
                                      <img src="{{comunicado.foto.url}}" alt="">
                                    {% else %}
                                      <img src="{% static 'assets/images/capa_comunicado.png' %}" alt="">
                                    {% endif %}
                                    <div class="card__titulo">
                                        <h5 class="m-0">{{comunicado.titulo}}</h5>
                                    </div>
                                </div>

                                <div class="card__texto">
                                    {{comunicado.resumo.html|safe}}
                                    <div class="leia-mais">
                                        <a href="{% url 'comunicado_detail' comunicado.id %}">Leia mais <ion-icon name="arrow-forward-outline"></ion-icon></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="ver__todos">
                    <a href="{% url 'comunicados' %}">Ver Todos <ion-icon name="arrow-forward-outline"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>

  

    <script>
        const props = {
            slidesPerView: 'auto',
            spaceBetween: 15,
            centeredSlides: false,
            freeMode: false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            breakpoints: {
                390: {
                    slidesPerView: "auto",
                    centeredSlides: true,
                    spaceBetween: 15,
                },
                720: {
                    slidesPerView: "auto",
                    centeredSlides: false,
                    spaceBetween: 15,
                },
                1024: {
                    slidesPerView: "auto",
                    spaceBetween: 50,
                    centeredSlides: false,

                },

                1240: {
                    slidesPerView: "auto",
                    spaceBetween: 20,
                    centeredSlides: false,

                },
            }
        }
        let carouselTurma = document.querySelector(".swiper__container-turma")
        new Swiper(carouselTurma, props)
    </script>

</main>
{% endblock %}

<!-- {% block extra_js %}
<script>
    $(document).ready(function () {
        $('#material_didatico').DataTable({
            "language": {
                "show": "Visualizar",
                "lengthMenu": "Mostrar _MENU_ linhas por página",
                "zeroRecords": "Nada encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Nada encontrado",
                "infoFiltered": "(filtrado de _MAX_ no total)",
                "search": "Pesquisar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próxima"
                }
            },
        });
    });
</script>
{% endblock %} -->