{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Título: {{ atividade_noturna.titulo }}</h2>
                <p>{{ atividade_noturna.descricao }}</p>
                <small>De {{ atividade_noturna.data_inicial }} a {{ atividade_noturna.data_final }}</small>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'inscricao_atividade_noturna_create' atividade_noturna.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <hr>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}