{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<main class="single__atividades">
    <div class="card user-profile o-hidden mb-4">
        {% if object.foto_capa %}
        <div class="header-cover" style="background-image: url({{object.foto_capa.url}})"></div>
        {% else %}
        <div class="header-cover" style="background-image: url(/static/assets/images/ata-reuniao.png);"></div>
        {% endif %}


        <div class="card-body">
            <h4>{{ object.titulo }}</h4>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <p class="text-primary mb-1">
                            <ion-icon name="newspaper-outline"></ion-icon>Descrição
                        </p>
                        <span>{{object.descricao}}</span>
                    </div>
                </div>
                <div class="row">
                    {% if object.data %}
                    <div class="mb-4 col-lg-4 col-6">
                        <p class="text-primary mb-1">
                            <ion-icon name="calendar-outline"></ion-icon>Data
                        </p>
                        <span>{{object.data}}</span>
                    </div>
                    {% endif %}
                    {% if object.data_inicial %}
                    <div class="mb-4 col-lg-4 col-6">
                        <p class="text-primary mb-1">
                            <ion-icon name="calendar-outline"></ion-icon>Data Inicial
                        </p>
                        <span>{{object.data_inicial}}</span>
                    </div>
                    {% endif %}
                    {% if object.data_final %}
                    <div class="mb-4 col-lg-4 col-6">
                        <p class="text-primary mb-1">
                            <ion-icon name="calendar-outline"></ion-icon>Data Final
                        </p>
                        <span>{{object.data_final}}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if object.anexo %}
                    <div class="mb-4 col-lg-4 col-6">
                        <p class="text-primary mb-1">
                            <ion-icon name="attach-outline"></ion-icon>Anexo
                        </p>
                        <span><a href="{{object.anexo.url}}">{{object.anexo}}</a></span>
                    </div>
                    {% endif %}
                    <div class="mb-4 col-lg-4 col-6">
                        <p class="text-primary mb-1">
                            <ion-icon name="people-outline"></ion-icon>Turmas
                        </p>
                        <span>{{object.turmas_vinculadas}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}