{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h2>Balanços Patrimoniais</h2>
        <small>Lista de Balanços Patrimoniais</small>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="balancos_patrimoniais">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Escola</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for balanco_patrimonial in balancos_patrimoniais %}
                    <tr>
                        <td>{{balanco_patrimonial.titulo}}</td>
                        <td>{{balanco_patrimonial.data}}</td>
                        <td>{{balanco_patrimonial.escola}}</td>
                        <td><a href="{% url 'balanco_patrimonial_detail' balanco_patrimonial.id %}"><i class="fas fa-search-plus"></i>Detalhes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#balancos_patrimoniais').DataTable({
                "language": {
                    "show": "Visualizar",
                    "lengthMenu": "Mostrar _MENU_ linhas por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nada encontrado",
                    "infoFiltered": "(filtrado de _MAX_ no total)",
                    "search": "Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próxima"
                    }
                },
            });
        });    
    </script>
{% endblock %}