{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<main class="single__atividades">
    <div class="card user-profile o-hidden mb-4">
        {% if object.foto_capa %}
        <div class="header-cover" style="background-image: url({{object.foto_capa.url}})"></div>
        {% else %}
        <div class="header-cover" style="background-image: url(/static/assets/images/balanco_patrimonial.png);"></div>
        {% endif %}

        <div class="card-body">
            <h4>{{ object.titulo }}</h4>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <p class="text-primary mb-1">
                            <ion-icon name="newspaper-outline"></ion-icon>Descrição
                        </p>
                        <span>{{object.descricao}}</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="mb-4 col-lg-4 col-6">
                    <p class=" text-primary mb-1">
                        <ion-icon name="calendar-outline"></ion-icon>Data
                    </p>
                    <span>{{object.data|default_if_none:'-'}}</span>
                </div>

                {% if object.anexo %}
                <div class="mb-4 col-lg-4 col-6">
                    <p class="text-primary mb-1">
                        <ion-icon name="attach-outline"></ion-icon>Anexo
                    </p>
                    <span><a href="{{object.anexo.url}}">{{object.anexo}}</a></span>
                </div>
                {% endif %}
                <div class="mb-4 col-lg-4 col-6">
                    <p class="text-primary mb-1">
                        <ion-icon name="business-outline"></ion-icon>Escola
                    </p>
                    <span>{{object.escola}}</span>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}