@import "../sass/utilities/variaveis__mixins";
@import "../sass/utilities/responsivo";
@import "../sass/utilities/animation";
@import "../sass/utilities/fonts";
//cores

$cor-azul-1: #2280C1;
$cor-azul-2: #3BA0E6;
$cor-azul-3: #1E3C7D;
$cor-azul-4: #0A1E2B;
$cor-vermelho-1:#A41B22;
$cor-cinza-1: rgba(243, 243, 243, 0.85);
// bordas e sombras 
$borda-sm: 1px solid #dadce0;
$shadow-sm: 0 3px 4px rgba(0, 0, 0, 0.05);
$border-radius: 8px;
$degrade-1: linear-gradient(to right, #2280c1, #0083b0);


$font-gilroy: 'Gilroy',
arial;
// asdas



body {
    --cor-azul-1:#{$cor-azul-1};
    --cor-azul-2:#{$cor-azul-2};
    --cor-azul-3:#{$cor-azul-3};
    --cor-azul-4:#{$cor-azul-4};
    --cor-vermelho:#{$cor-vermelho-1};

    --borda-sm:#{$borda-sm};
    --shadow-sm:#{$shadow-sm};
    --border-radius:#{$border-radius};

    --degrade-1:#{$degrade-1};
}

// GERAIS ★★★★★

.menu__open {

    .menu-toggle {
        div {
            &:nth-child(1) {
                transform: rotate(-45deg);
                margin-bottom: -4px;
            }

            &:nth-child(2) {
                transform: rotate(45deg);

                margin-bottom: -4px;
            }

            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }
}

.card__titulo h5 {
    @include d(m) {
        font-size: 16px !important;

    }
}

.card__texto p {
    @include d(m) {
        font-size: 12px !important;
    }
}

#page__login .entrar {
    cursor: pointer !important;
}

.sidebar-left-secondary {
    margin-left: -10px;
}

.main-header {
    top: 0;
}

.card {
    border: $borda-sm;
    box-shadow: $shadow-sm;
    border-radius: $border-radius;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $font-gilroy;

}

.user-profile .header-cover:after {
    content: none;
    display: none;
}

.user-profile .header-cover {

    background-position: center;
}

.detalhes {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 15px 1fr;
    column-gap: 5px;
    font-family: gilroy;
}

.boasvindas {
    small {
        font-size: 14px;
    }

    a {
        color: $cor-azul-1;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        @include d(m) {

            font-size: 20px;

        }
    }
}



.container {
    max-width: 1000px !important;
}

//COMUNICADO SINGLE ★★★★★
.body__comunicado__single {

    .col-12 {
        @include d(m) {
            padding: 0 8px;
        }
    }

    .breadcrumb {
        margin-top: 80px;
    }

    .fundo-post {
        object-fit: cover;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }

    .card {
        max-width: 900px;
        margin: 0 auto;

        p:first-child {
            border-bottom: $borda-sm;
            padding-bottom: 5px;
            font-size: 32px;
            font-family: $font-gilroy;
            padding: 15px 0;
            padding-left: 20px;
            display: inline-flex;
            width: 100%;
            padding: 10px 20px !important;
        }

        >.text-center {
            p:not(p:first-child) {
                font-size: 14px;
            }

            p {
                text-align: start;
                line-height: 145%;
                color: rgb(28, 28, 28);
                padding: 0 20px;

                small {
                    color: $cor-azul-1;

                }
            }

            a:last-child {
                background: none;
                border: 1px solid transparent;
                width: 100% !important;
                color: $cor-azul-1 !important;
                font-family: $font-gilroy;
                text-align: start;
                border-top: $borda-sm;
                padding: 10px 0;
                padding-left: 20px;
                border-radius: 0 0 8px 8px;
                font-size: 16px;

                &:hover {
                    box-shadow: initial !important;
                    background: rgba(243, 243, 243, 0.85);
                }
            }
        }
    }
}


.body__home {
    .separator-breadcrumb {
        @include d(m) {
            margin-bottom: 0;
        }
    }

    .main-content {
        max-width: 1200px;
        margin: 0 auto;

        @include d(m) {
            margin: initial;
        }
    }

    //card alunos 
    .card__alunos-wrapper {
        display: flex;
        flex-direction: column;
        width: 320px;
    }

    .card__alunos {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: initial;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;

        .card__alunos-element {
            max-width: 320px;
            margin-top: 0px;
            height: max-content;
        }

        .card {
            padding: 0;
            border-radius: $border-radius;

            .card-header {
                border-radius: 8px 8px 0 0;
                border-bottom: initial !important;

            }

            &-body {
                padding: 10px 0 0;

                p {
                    a {
                        font-size: 18px;
                        font-weight: 700;
                        color: $cor-azul-1 !important;
                        transition: 0.3s ease;
                        padding: 10px 20px;
                        border-radius: $border-radius;

                        display: inline-flex;
                        align-items: center;

                        &:hover {
                            background: $cor-cinza-1;
                        }

                        ion-icon {
                            margin-right: 5px;
                            font-size: 20px;
                        }
                    }
                }

                >a {
                    background: none;
                    color: $cor-vermelho-1 !important;
                    font-size: 18px;
                    border-top: $borda-sm;
                    padding: 12px 0;
                    border-radius: initial;
                    font-weight: 600;
                    font-family: $font-gilroy;
                    transition: 0.3s ease;

                    &:hover {
                        background: $cor-cinza-1;
                    }
                }
            }
        }
    }

    .card-header {
        border-bottom: $borda-sm !important;
    }

    .atividades__container {
        width: calc(100% - 400px);
        min-width: 500px;

    }

    /* fim card alunos */
    .card__atividades,
    .card__enquetes {
        border: $borda-sm;
        border-radius: $border-radius;
        box-shadow: $shadow-sm;
        overflow: hidden;


        .card-body {
            padding: 0;
        }

        ul {
            min-height: 140px;
            overflow-y: auto;
            max-height: 200px;
            @include scrollbars(8px, rgb(208, 208, 208), rgb(238, 238, 238));

            li {
                border-radius: initial;
                border: initial;
                transition: .3s ease;
                color: rgba(0, 0, 0, 0.79);

                a {
                    color: $cor-azul-1;
                    font-size: 14px;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:hover {
                    background: $cor-cinza-1;
                }

            }

            li {
                border-bottom: 1px solid #dadce0 !important;
                margin-bottom: 0;
            }

            .list-group-item {
                span {
                    padding: 3px 5px;
                    border-radius: 8px;
                }

                &.aluno {
                    &-2 {
                        span {
                            background: rgb(237, 237, 237);
                            padding: 3px 5px;
                            border-radius: 8px;
                        }
                    }

                    &-3 {
                        span {
                            background: rgb(255, 241, 241);
                            padding: 3px 5px;
                            border-radius: 8px;
                        }
                    }

                    &-4 {
                        span {
                            background: rgb(232, 238, 255);
                            padding: 3px 5px;
                            border-radius: 8px;
                        }



                    }

                    &-5 {
                        span {
                            background: rgb(232, 255, 255);
                            padding: 3px 5px;
                            border-radius: 8px;
                        }



                    }
                }
            }


        }
    }

    .card__atividades {

        h1 {
            i {
                @include iconTitulos("/static/assets/images/icons/book.svg")
            }
        }
    }

    .card__enquetes {
        margin-top: 30px;

        h1 {
            i {


                @include iconTitulos("/static/assets/images/icons/enquete.svg")
            }
        }
    }

    .card-header:first-child {
        border-radius: 8px 8px 0 0;
    }

    .atividades__container {
        margin-left: 60px;



        @include d(m) {
            margin-left: initial;
            min-width: 290px;
            font-size: 12px;
            width: 100%;
        }

        .card-header {
            padding: 0;
        }

        .titulosecoes {
            padding: 0;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            padding-left: 20px;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-right: 10px;
            margin: 15px 0;
            width: 100%;
        }
    }

    .list-group-item {
        @include d(m) {
            padding: 12px;
        }
    }

    #myTab {
        border-bottom: $borda-sm !important;

        .nav-item {
            border-radius: $border-radius;

            .nav-link {
                font-family: $font-gilroy !important;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
                padding-left: 0;

                @include d(m) {
                    font-size: 16px;
                    padding: 12px;
                }

                &.active {
                    border: initial !important;
                    border-bottom: 3px solid $cor-azul-1 !important;
                    background: initial !important;
                    color: $cor-azul-1 !important;
                    border-color: #003473 #003473 #fff;
                }

                ion-icon {
                    margin-right: 8px;
                    font-size: 20px;
                }

            }


        }

        .nav-item+.nav-item {
            margin-left: 20px;
        }


    }

    #myTabContent {
        padding: 0 1rem;
        padding-top: 0;

        h4 {
            margin-bottom: 30px;
            font-size: 20px;
        }

        .tab-content {
            padding-left: 0 !important;
            padding-top: 0;
            padding-right: 0 !important;
        }

        .swiper-slide {
            max-width: 450px;
        }

        .swiper-wrapper {
            display: flex !important;
            flex-wrap: nowrap;
        }
    }



    .card__img {
        object-fit: cover;
        height: 113px;
        border-radius: 8px 0 8px 0;
        width: 221px !important;
        position: relative;
        overflow: hidden;

    }

    .card__titulo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 20px;

        h5 {
            font-family: $font-gilroy;
            margin: 10px 0;
            display: inline-block;
            font-size: 20px;
        }
    }


    .top__division {
        display: flex;
    }

    .card__texto {
        height: 100%;
        padding-bottom: 0px;
        margin-left: 0;

        p {
            margin-top: 10px;
            font-size: 14px;
            display: block;
            max-width: 700px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            color: #3f4449;
            padding: 0 20px;
        }

        .leia-mais {

            display: inline-flex;
            justify-content: flex-end;
            width: 100%;

            a {
                padding: 12px 20px;
                width: 100%;
                margin-left: auto;
                font-family: $font-gilroy;
                transition: 0.3s ease;
                cursor: pointer;
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                z-index: 2;
                color: $cor-azul-1 !important;

                ion-icon {
                    margin-left: 5px;
                }

                &:hover {
                    background: $cor-cinza-1;
                }
            }

        }
    }



    .nav__alunos-container {
        .nav-pills .nav-link {
            color: $cor-azul-1;
            transition: .3s ease;

            &.active {
                background-color: #dfdfdf;
                font-size: 16px;
                padding: 5px 10px;
                font-weight: 600;
            }
        }
    }

    .tab__panel-container {
        .tab-pane {

            .card {

                @include d(m) {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto 30px;
                }
            }
        }
    }

    .ver__todos {

        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        border-bottom: $borda-sm;
        margin-bottom: 40px;

        a {
            padding: 12px 20px;
            width: 100%;
            margin-left: auto;
            font-family: $font-gilroy;
            transition: 0.3s ease;
            cursor: pointer;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            z-index: 2;
            color: $cor-azul-3;

            ion-icon {
                margin-left: 5px;
            }

            &:hover {
                color: $cor-vermelho-1;
            }
        }

    }
}

.swiper__container-all:not(.ativo) {
    display: none !important;
}

.swiper__container-all {
    position: relative;

    .swiper-buttons {

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;

            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2280c1;

            @include d(m) {
                &:after {
                    font-size: 12px;
                }
            }
        }

        .swiper-button-prev {
            left: 10px !important;

        }

        .swiper-button-next {
            right: 10px !important;
            left: auto;
        }
    }

}

.swiper-button-next,
.swiper-button-prev {

    @include d(m) {
        &:after {
            font-size: 12px !important;
        }
    }
}

.swiper__container-geral {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 40px;

    @include d(m) {
        height: 434px;
    }
}

.swiper__container-all {
    position: absolute !important;
    top: 0;
    transition: transform .3s ease;
    width: 100%;

    .comunicados__wrapper {
        display: flex !important;
        flex-wrap: nowrap;
        grid-template-columns: initial;
        column-gap: initial;
        justify-items: initial;
    }
}

.swiper__container-all:not(.ativo) {
    display: block !important;
    transform: translatey(100%);
}

.swiper__container-all.ativo {
    transform: translatey(0) !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;

}

.vermais_aluno {
    display: inline-flex;
    align-items: center;

    ion-icon {
        margin-left: 5px;
    }
}

.nav__alunos-container {
    margin-top: 20px;
}

//calendario home
#profile {
    .card {
        border: none !important;

        .card-body {
            @include d(m) {
                padding: 0;
                width: 100%;
            }
        }

        #calendar {
            border: $borda-sm;
            float: none;
            padding: 20px;
            border-radius: 8px;

            @include d(m) {
                padding: 10px;
            }

            .fc-button-primary {
                color: #fff;
                background-color: $cor-azul-1;
                border: 1px solid #09609b;
            }

            .fc-button:focus {
                outline: none !important;
                -webkit-box-shadow: initial !important;
                box-shadow: initial !important;
                background: #003473 !important;
            }
        }

        .fc-toolbar {
            @include d(m) {
                display: grid;
                gap: 20px;
                justify-items: center;
                width: 100%;
                justify-content: center;
            }
        }
    }
}

/* navegação */

nav[aria-label="Navegação"] {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    align-items: center;

    .page-link {
        display: grid;
        place-items: center;
        padding: 10px 10px;
        margin: 0 5px;
        border-radius: initial !important;
        height: 40px !important;
        font-size: 18px;
        border: initial !important;

        ion-icon {
            font-size: 20px;
            cursor: pointer
        }
    }

    .page-item.active {
        .page-link {
            background: initial !important;
            color: $cor-azul-1;
            border-bottom: 2px solid $cor-azul-1 !important;

        }
    }
}

.comunicados__wrapper {
    display: grid !important;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-items: center;

    @include d(m) {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 450px;
        width: 450px;

        @include d(m) {
            width: 100% !important;
            min-width: 300px;
        }

        .top__division {
            @include d(m) {
                flex-direction: column;
            }

            .card__img {
                object-fit: cover;

                @include d(m) {
                    width: 100% !important;
                    border-radius: 8px 8px 0 0;
                }
            }
        }
    }

    .leia-mais {
        a {
            padding: 10px 20px;
            display: flex;
            justify-content: flex-end;
            border-top: $borda-sm;
            text-align: end;
            transition: .3s ease;
            font-family: $font-gilroy;
            font-size: 16px;
            align-items: center;
            color: $cor-azul-1 !important;

            ion-icon {
                margin-left: 5px;
                color: $cor-azul-1 !important;
            }

            &:hover {
                background: $cor-cinza-1;
            }
        }
    }

    .parte__final {
        margin-bottom: 80px;
    }

}



//home aluno  =========================
.body__aluno {

    .boasvindas {
        border: initial !important;
        box-shadow: initial !important;
        margin-bottom: 0 !important;

        .card-header {
            padding: 10px 0;

            small {
                font-size: 14px;
                color: $cor-azul-3;
            }
        }

    }

    .ver__container {
        a {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            font-size: 14px;
            font-family: gilroy;

            &:hover {
                text-decoration: underline;
            }

            ion-icon {
                margin-left: 5px
            }
        }
    }

    .card__agenda {
        padding: 0;
    }



    main.page_home {
        padding-top: 0;
    }

    .profile__aluno {
        .card {
            margin-top: 0;
        }

        #calendar {
            max-width: 100%;
            margin: 30px 15px;
            margin-top: 30px;

            @include d(m) {
                padding: 0;
                margin: 30px auto;
            }

            .fc-toolbar {
                @include d(m) {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 15px;
                    justify-content: center;
                }
            }
        }
    }

    /* show calendar */
    .show__calendar {
        display: none;
    }

    .calendar {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .calendar.fechado {

        max-height: 100px;
        position: relative;
        overflow: hidden;
        border: $borda-sm;
        border-radius: 8px;
        transition: all .3s ease;

        &:hover {
            background: $cor-cinza-1;
        }

        .show__calendar {
            position: absolute;
            width: 100%;
            height: 100px;
            z-index: 2;
            background: white;
            top: 0;
            left: 0;
            place-items: center;
            text-align: center;
            font-size: 18px;
            color: #347cbe;
            font-family: $font-gilroy;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;

            ion-icon:first-child {
                margin-right: 8px;
                font-size: 22px;

            }

            ion-icon:last-child {
                margin-left: 30px;
                font-size: 22px;
            }



        }
    }



    .calendar:not(.fechado) {
        max-height: 100%;

        .show__calendar {
            z-index: -2;
            display: none;
        }

    }

    .atividade__escolar-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        margin-top: 30px;

        @include d(m) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    h1.titulosecoes {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        line-height: initial;
    }

    .card__atividades {
        .card-header {
            display: flex;
        }
    }

    .comunicado__title {

        h2 {
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
            display: flex;
            align-items: center;
            font-size: 20px;
            border-bottom: $borda-sm;

            ion-icon {
                margin-right: 5px;
            }
        }
    }

    .card__materia_didatico {
        h4 {
            text-align: start;
            padding: 0 !important;
        }

        #material_didatico_wrapper {
            min-height: 250px;
            display: flex;
            flex-direction: column;

            @include d(m) {
                font-size: 10px;
                min-height: 300px;
            }

            div.row:nth-child(3) {
                margin-top: auto;
            }

            .dataTables_length {
                display: flex;
                align-items: center;

                @include d(m) {
                    justify-content: center;
                    margin-bottom: 10px;
                }

                select {
                    width: 40px;
                    display: inline-block;
                }
            }

            table {
                text-align: start;
            }
        }

        #material_didatico_info {
            text-align: start !important;
            font-size: 10px;
        }

        .row {
            align-items: center;
        }
    }

    .visualizar__wrapper {
        margin-bottom: 60px;

        .col-12 {
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            font-family: $font-gilroy;
            border-bottom: $borda-sm;
            margin-bottom: 20px;
            padding-bottom: 10px;

            a {
                display: inline-flex;
                align-items: center;

                ion-icon {
                    margin-left: 5px;
                }
            }
        }
    }

    .card__texto {
        p {
            @include d(m) {
                font-size: 12px;
            }
        }
    }

    .pagination {
        .page-item {
            a {
                border: initial;
                color: $cor-azul-1;
            }

            &.active {
                a {
                    background: initial !important;
                    color: $cor-azul-2;
                    border: initial;
                    border-bottom: 2px solid $cor-azul-1;
                }
            }
        }
    }

    .comunicados__wrapper {
        display: flex !important;
        flex-wrap: nowrap;
        grid-template-columns: initial;
        column-gap: initial;
        justify-items: initial;
    }

    .swiper__container-aluno {
        overflow: hidden;
    }

    .ver__todos {

        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        border-bottom: $borda-sm;

        a {
            padding: 12px 20px;
            width: 100%;
            margin-left: auto;
            font-family: $font-gilroy;
            transition: 0.3s ease;
            cursor: pointer;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            z-index: 2;
            color: $cor-azul-3;

            ion-icon {
                margin-left: 5px;
            }

            &:hover {
                color: $cor-vermelho-1;
            }
        }

    }
}

.enquete-details {
    .enquete__subtitulo {
        font-family: $font-gilroy;
        display: inline-grid;
        align-items: center;
        grid-template-columns: 25px 1fr;
    }
}

@mixin iconTitulos($var) {
    @include bg-props-contain;
    display: block;
    @include size(30px);
    margin-right: 5px;
    background-image: url($var);
}

// ★ TURMA SINGLE  
.body__turma-single {

    .swiper-button-next,
    .swiper-button-prev {
        @include d(m) {
            top: 20%;
        }
    }

    .comunicados__wrapper {
        display: flex !important;
        flex-wrap: nowrap;
        grid-template-columns: initial;
        column-gap: initial;
        justify-items: initial;
    }

    .swiper__container-turma {
        overflow: hidden;
        position: relative;

        @include d(m) {
            overflow: initial;

            .card {
                width: 280px;

                min-width: initial;
            }
        }


    }

    .ver__todos {

        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        border-bottom: $borda-sm;

        a {
            padding: 12px 20px;
            width: 100%;
            margin-left: auto;
            font-family: $font-gilroy;
            transition: 0.3s ease;
            cursor: pointer;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            z-index: 2;
            color: $cor-azul-3;

            ion-icon {
                margin-left: 5px;
            }

            &:hover {
                color: $cor-vermelho-1;
            }
        }

    }

    /* show calendar */
    .show__calendar {
        display: none;
    }

    .calendar {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .calendar.fechado {

        max-height: 100px;
        position: relative;
        overflow: hidden;
        border: $borda-sm;
        border-radius: 8px;
        transition: all .3s ease;

        &:hover {
            background: $cor-cinza-1;
        }

        .show__calendar {
            position: absolute;
            width: 100%;
            height: 100px;
            z-index: 2;
            background: white;
            top: 0;
            left: 0;
            place-items: center;
            text-align: center;
            font-size: 18px;
            color: #347cbe;
            font-family: $font-gilroy;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;

            ion-icon:first-child {
                margin-right: 8px;
                font-size: 22px;

            }

            ion-icon:last-child {
                margin-left: 30px;
                font-size: 22px;
            }



        }
    }



    .calendar:not(.fechado) {
        max-height: 100%;

        .show__calendar {
            z-index: -2;
            display: none;
        }

    }


    .boasvindas {
        .card-header {
            padding: 10px 0;
            border-bottom: $borda-sm !important;
        }

        h2 {
            display: inline-flex;
            align-items: center;
            width: 100%;
            padding: 0;
            color: $cor-azul-1 !important;

            i {
                @include iconTitulos("/static/assets/images/icons/class.svg");
                margin-right: 10px;
                color: $cor-azul-1 !important;
            }

        }
    }

    .materias__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-top: 30px;

        @include d(m) {
            grid-template-columns: 1fr;
        }

        .titulosecoes {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            padding-right: 10px;

            i {
                @include iconTitulos("/static/assets/images/icons/book.svg");
                margin-right: 10px;
            }
        }

        .materiais-didaticos,
        .ativ-escolares {
            border-radius: 8px;
            border: $borda-sm;
            box-shadow: $shadow-sm;
        }

        .materiais-didaticos {
            h1 {
                i {
                    background-image: url("/static/assets/images/icons/material.svg") !important;
                }
            }
        }
    }

    .conteudo-materialdidatico,
    .conteudo-ativ-escolares {
        border-top: $borda-sm;
        padding: 0;
        max-height: 420px;
        overflow-y: auto;

        .sidebar {
            box-shadow: initial;
            border: initial;
            border-bottom: $borda-sm;
            float: none;
            display: flex;
            flex-direction: column;
            transition: .3s ease;
            margin: 0;

            &:hover {
                background: rgba(243, 243, 243, 0.85);
            }

            &-materia {
                font-weight: 600;
            }

        }
    }


    .sidebar__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .sidebar-data {
        color: #808080;
    }

    .calendario {
        margin-top: 30px;

        .conteudo-calendario {
            border-top: $borda-sm;
            padding: 0;
            min-height: initial;
        }

        h1 {
            font-size: 20px;
            display: inline-flex;
            align-items: center;

            ion-icon {
                margin-right: 8px;
            }
        }
    }


    .comunicados {
        margin-top: 30px;

        .card__meta {
            display: flex;
            padding: 0 20px;
            margin-bottom: 10px;
            justify-content: space-between;
            color: rgb(83, 83, 83);
        }

        .conteudo-comunicados {
            border-top: $borda-sm;
            row-gap: 20px;
        }

        h1 {
            font-size: 20px;
            display: inline-flex;
            align-items: center;

            ion-icon {
                margin-right: 5px;
            }
        }

        .card__img {
            object-fit: cover;
            height: 113px;
            border-radius: 8px 0 8px 0;
            width: 221px !important;
            position: relative;
            overflow: hidden;

            background-position: center;
            background-size: cover;
        }

        .card__titulo {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-top: 20px;

            h5 {
                font-family: $font-gilroy;
                margin: 10px 0;
                display: inline-block;
                font-size: 20px;
            }
        }


        .top__division {
            display: flex;
        }

        .card__texto {
            height: 100%;
            padding-bottom: 0px;
            margin-left: 0;

            p {
                margin-top: 10px;
                font-size: 14px;
                display: block;
                max-width: 700px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                color: #3f4449;
                padding: 0 20px;
            }

            .leia-mais {

                display: inline-flex;
                justify-content: flex-end;
                width: 100%;

                a {
                    padding: 12px 20px;
                    width: 100%;
                    margin-left: auto;
                    font-family: $font-gilroy;
                    transition: 0.3s ease;
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 16px;
                    z-index: 2;
                    color: $cor-azul-1 !important;

                    ion-icon {
                        margin-left: 5px;
                    }

                    &:hover {
                        background: $cor-cinza-1;
                    }
                }

            }
        }


    }

}

@media (max-width:1200px) {}

//sidebar

$borda-sm: 1px solid #dadce0;
$shadow-sm: 0 3px 4px rgba(0, 0, 0, 0.05);

.layout-sidebar-large .sidebar-left.open,
.layout-sidebar-large .sidebar-left:not(.open) {
    /* background: #003662 !important; */
    background: initial;
    background: white;

    width: 110px;

    .nav-item {
        padding: 0;
        margin: 0;

        a {
            span {
                color: $cor-azul-3 !important;
                font-family: "gilroy";
            }
        }

        .nav-item-hold {
            padding: 0 !important;

            height: 90px;
            margin: 0;
            border-radius: 0;
            display: grid;
            place-items: center;
            align-content: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            padding: 20px 0 !important;

            ion-icon {
                font-size: 20px;
                display: block;
                color: $cor-azul-3;
            }

            img {}

            &:hover {
                box-shadow: initial;
            }

        }

        &.active {
            box-shadow: initial;

            .nav-item-hold {
                box-shadow: initial;
                border-radius: 0;


            }


        }

    }
}

.layout-sidebar-large .sidebar-left.open,
.layout-sidebar-large .sidebar-left:not(.open) {
    background: initial;
    background: #fff;
    width: 200px;
    overflow: hidden;

    .nav-item-hold {
        display: flex !important;
        align-items: center !important;
        transition: background .3s ease;

        &:hover {
            background: rgb(235, 251, 255) !important;
        }

        ion-icon {
            margin-left: 15px;
            font-size: 26px !important;

        }

        span.nav-text {
            text-align: start !important;
            display: inline-flex !important;
            width: calc(100% -26px) !important;
            margin-left: 10px;
            font-size: 16px !important;
        }
    }
}

.layout-sidebar-large .sidebar-left:not(.open) {
    left: -100% !important;
}

.layout-sidebar-large .sidebar-overlay {

    width: calc(100% - 200px - 250px) !important;
}

.layout-sidebar-large .sidebar-left-secondary.open {
    width: 260px;
    left: 200px !important;
    background: rgb(255, 255, 255) !important;
    border-right: $borda-sm;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);

    p.titulo_produto {
        color: $cor-azul-3 !important;
        display: inline-flex;
        width: 100%;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-weight: 700;
        letter-spacing: .5px;
        box-shadow: initial;
        border-bottom: $borda-sm;

        ion-icon {
            margin-right: 20px;
            font-size: 22px;
        }
    }

    .nav-item {
        padding: 0;
        margin: 0;

        &:hover {
            background: rgb(235, 251, 255);
            border-radius: initial;
        }

        a {
            padding: 12px 0 12px 12px;

            span {
                color: $cor-azul-3 !important;
                font-weight: 600 !important;
                font-size: 14px !important;
            }
        }

        .nav-item-hold {
            padding: 0 !important;

            height: 90px;
            margin: 0;
            border-radius: 0;
            display: grid;
            place-items: center;
            align-content: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            padding: 20px 0 !important;

            ion-icon {
                font-size: 20px;
                display: block;
                color: $cor-azul-3;
            }


            &:hover {
                box-shadow: initial;
            }

        }

        &.active {
            box-shadow: initial;

            .nav-item-hold {
                box-shadow: initial;
                border-radius: 0;

            }

        }

    }
}

@include d(m) {

    .layout-sidebar-large .sidebar-left.open {
        width: 120px !important;

        .nav-item {
            a {
                ion-icon {
                    font-size: 16px !important;
                }

                span.nav-text {
                    font-size: 12px !important;
                }
            }
        }

    }

    .layout-sidebar-large .sidebar-left-secondary.open {
        left: 120px !important;

        .nav-item {
            a {


                span.item-name {
                    font-size: 12px !important;
                }
            }
        }
    }
}

.body__atividades-single {

    .text-primary {
        font-family: "gilroy";
        display: grid;
        grid-template-columns: 1fr 10fr;
        align-items: center;

        ion-icon {
            font-size: 20px;
        }
    }

    .text-primary {
        font-family: "gilroy";
        display: grid;
        grid-template-columns: 20px 1fr;
        align-items: center;
        gap: 5px;

        @include d(m) {
            font-size: 14px;
        }

        ion-icon {
            font-size: 20px;

            @include d(m) {
                font-size: 18px;
            }
        }
    }

    .footer__atividade {
        background: initial;


        border-top: $borda-sm;


        a {
            transition: background .3s ease;
            width: 100%;
            padding: 12px 20px;
            background: initial;
            border: initial;
            color: $cor-vermelho-1 !important;
            font-family: $font-gilroy;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            &:hover {
                background: $cor-cinza-1;
            }

            ion-icon {
                margin-left: 10px;
            }

            &:hover {
                box-shadow: initial !important;
            }
        }
    }

    .card-body {
        padding: 0;

        h4 {
            padding: 0 20px;
            padding-top: 10px;
        }

        >.row {
            padding: 0 20px;
            ;
        }
    }
}

.body__comunicados-list {
    .content__list-comunicados {
        margin: 0 auto;
        margin-bottom: 30px;

        .card-body {
            padding: 0;
        }

        @include d(s) {
            border: initial;
            box-shadow: initial;
            margin: 0 auto;
        }

        >.card {
            width: 100%;
        }
    }

    .container__grid {
        display: grid;
        gap: 30px;
        row-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(380px, 450px));
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 60px;
        margin-top: 20px;

        .card {
            height: 275px;
            margin: 0;
        }
    }

    .card__img {
        object-fit: cover;
        height: 113px;
        border-radius: 8px 0 8px 0;
        width: 221px !important;
        position: relative;
        overflow: hidden;

        background-position: center;
        background-size: cover;
    }

    .card__titulo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 20px;

        h5 {
            font-family: $font-gilroy;
            margin: 10px 0;
            display: inline-block;
            font-size: 20px;
        }
    }


    .top__division {
        display: flex;
    }

    .card__texto {
        height: 100%;
        padding-bottom: 0px;
        margin-left: 0;

        p {
            margin-top: 10px;
            font-size: 14px;
            display: block;
            max-width: 700px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            color: #3f4449;
            padding: 0 20px;
        }

        .leia-mais {

            display: inline-flex;
            justify-content: flex-end;
            width: 100%;

            a {
                padding: 12px 20px;
                width: 100%;
                margin-left: auto;
                font-family: $font-gilroy;
                transition: 0.3s ease;
                cursor: pointer;
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                z-index: 2;
                color: $cor-azul-1 !important;

                ion-icon {
                    margin-left: 5px;
                }

                &:hover {
                    background: $cor-cinza-1;
                }
            }

        }
    }


    .pagination {
        font-size: gilroy;
        font-size: 18px;
        color: $cor-azul-1;
    }
}

.main-enquete {
    margin-bottom: 40px;

    .info__1 {
        display: inline-flex;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }

    h2 {
        font-family: $font-gilroy;
    }

    form {
        >label {
            font-size: 18px;
            font-family: $font-gilroy;
            margin-left: 30px;
            margin-top: 30px;
        }



        ul {
            display: flex;
            flex-direction: column;

            li {
                display: inline-flex;
                align-items: center;

                p {
                    margin: 0;
                    cursor: pointer;

                    @include d(s) {
                        font-size: 12px;
                    }
                }

                label {
                    display: inline-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 12px;
                }

                input {
                    margin-right: 5px;
                    cursor: pointer;
                    width: 20px;
                    height: 40px;
                }
            }
        }
    }

    .card-body {
        padding-bottom: 0;
        padding: 0;
    }

    button[type="submit"] {
        background: initial;
        color: $cor-azul-1;
        border: initial;
        border-radius: 0;
        width: 100%;
        text-align: end;
        border-top: $borda-sm;
        padding-top: 20px;
        font-family: $font-gilroy;
        font-size: 16px;
        padding-bottom: 20px;
        border-radius: 0 0 8px 8px;
        padding-right: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        &:hover {
            box-shadow: initial;
            background: $cor-cinza-1;
            color: $cor-vermelho-1;
        }


        ion-icon {
            margin-left: 10px;
        }
    }
}

@media (max-width:890px) {
    .container__grid {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: initial;

        .card {
            width: 280px;
            margin-bottom: 30px;
            height: 275px;
        }
    }
}

body {
    @include scrollbars(8px, rgb(208, 208, 208), rgb(238, 238, 238));
}


.enquete__resultados {
    .respostas__enquete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            text-align: center;
            font-size: 20px;
        }
    }
}