@import "../sass/utilities/variaveis__mixins";
@import "../sass/utilities/responsivo";
@import "../sass/utilities/animation";
@import "../sass/utilities/fonts";
//cores

$cor-azul-1: #2280C1;
$cor-azul-2: #3BA0E6;
$cor-azul-3: #1E3C7D;
$cor-azul-4: #0A1E2B;
$cor-vermelho-1:#A41B22;
$cor-cinza-1: rgba(243, 243, 243, 0.85);
// bordas e sombras 
$borda-sm: 1px solid #dadce0;
$shadow-sm: 0 3px 4px rgba(0, 0, 0, 0.05);
$border-radius: 8px;
$degrade-1: linear-gradient(to right, #2280c1, #0083b0);


$font-gilroy: 'Gilroy',
arial;
// asdasd

body {
    --cor-azul-1:#{$cor-azul-1};
    --cor-azul-2:#{$cor-azul-2};
    --cor-azul-3:#{$cor-azul-3};
    --cor-azul-4:#{$cor-azul-4};
    --cor-vermelho:#{$cor-vermelho-1};

    --borda-sm:#{$borda-sm};
    --shadow-sm:#{$shadow-sm};
    --border-radius:#{$border-radius};

    --degrade-1:#{$degrade-1};
}

// GERAIS ★★★★★

.main-header {
    top: 0;
}

.card {
    border: $borda-sm;
    box-shadow: $shadow-sm;
    border-radius: $border-radius;

}

h1,
h2,
h3,
h4 {
    font-family: $font-gilroy;

}

.boasvindas {
    small {
        font-size: 14px;
    }

    a {
        color: $cor-azul-1;
        font-size: 14px;
    }
}


//COMUNICADO SINGLE ★★★★★
.body__comunicado__single {

    .col-12 {
        @include d(m) {
            padding: 0 8px;
        }
    }

    .breadcrumb {
        margin-top: 80px;
    }

    .fundo-post {
        object-fit: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .card {
        max-width: 900px;
        margin: 0 auto;

        p:first-child {
            border-bottom: $borda-sm;
            padding-bottom: 5px;
            font-size: 32px;
            font-family: $font-gilroy;
            padding: 15px 0;
            padding-left: 20px;
        }

        >.text-center {
            p:not(p:first-child) {
                font-size: 14px;
            }

            p {
                text-align: start;
                line-height: 145%;
                color: rgb(28, 28, 28);
                padding: 0 20px;

                small {
                    color: $cor-azul-1;

                }
            }

            a:last-child {
                background: none;
                border: 1px solid transparent;
                width: 100% !important;
                color: $cor-azul-1 !important;
                font-family: $font-gilroy;
                text-align: start;
                border-top: $borda-sm;
                padding: 10px 0;
                padding-left: 20px;
                border-radius: 0 0 8px 8px;
                font-size: 16px;

                &:hover {
                    box-shadow: initial !important;
                    background: rgba(243, 243, 243, 0.85);
                }
            }
        }
    }
}



.body__home {
    .card__alunos {
        .card {
            padding: 0;
            border-radius: $border-radius;

            .card-header {
                border-radius: 8px 8px 0 0;
                border-bottom: initial !important;

            }

            &-body {
                padding: 20px 0 0;

                p {
                    a {
                        font-size: 18px;
                        font-weight: 700;
                        color: $cor-azul-1 !important;
                        transition: 0.3s ease;
                        padding: 8px;
                        border-radius: $border-radius;
                        display: inline-flex;
                        align-items: center;

                        ion-icon {
                            margin-right: 5px;
                            --ionicon-stroke-width: 45px;
                            font-size: 18px;
                        }

                        &:hover {
                            background: $cor-cinza-1;
                        }
                    }
                }

                >a {
                    background: none;
                    color: $cor-vermelho-1 !important;
                    font-size: 18px;
                    border-top: $borda-sm;
                    padding: 12px 0;
                    border-radius: initial;
                    font-weight: 600;
                    font-family: $font-gilroy;
                    transition: 0.3s ease;

                    &:hover {
                        background: $cor-cinza-1;
                    }
                }
            }
        }
    }

    .card-header {
        border-bottom: $borda-sm !important;
    }

    .card-header:first-child {
        border-radius: initial;
    }

}