@import "../sass/utilities/variaveis__mixins";
@import "../sass/utilities/responsivo";
@import "../sass/utilities/animation";
@import "../sass/utilities/fonts";
//cores

$cor-azul-1: #2280C1;
$cor-azul-2: #3BA0E6;
$cor-azul-3: #1E3C7D;
$cor-azul-4: #0A1E2B;
$cor-vermelho-1:#A41B22;
$cor-cinza-1: rgba(243, 243, 243, 0.85);
// bordas e sombras 
$borda-sm: 1px solid #dadce0;
$shadow-sm: 0 3px 4px rgba(0, 0, 0, 0.05);
$border-radius: 8px;
$degrade-1: linear-gradient(to right, #2280c1, #0083b0);


$font-gilroy: 'Gilroy',
arial;
// asdasd

body {
    --cor-azul-1:#{$cor-azul-1};
    --cor-azul-2:#{$cor-azul-2};
    --cor-azul-3:#{$cor-azul-3};
    --cor-azul-4:#{$cor-azul-4};
    --cor-vermelho:#{$cor-vermelho-1};

    --borda-sm:#{$borda-sm};
    --shadow-sm:#{$shadow-sm};
    --border-radius:#{$border-radius};

    --degrade-1:#{$degrade-1};
}

// GERAIS ★★★★★

.main-header {
    top: 0;
}

.card {
    border: $borda-sm;
    box-shadow: $shadow-sm;
    border-radius: $border-radius;

}

h1,
h2,
h3,
h4 {
    font-family: $font-gilroy;

}

.boasvindas {
    small {
        font-size: 14px;
    }

    a {
        color: $cor-azul-1;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        @include d(m) {

            font-size: 20px;

        }
    }
}



.container {
    max-width: 1000px !important;
}

//COMUNICADO SINGLE ★★★★★
.body__comunicado__single {

    .col-12 {
        @include d(m) {
            padding: 0 8px;
        }
    }

    .breadcrumb {
        margin-top: 80px;
    }

    .fundo-post {
        object-fit: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .card {
        max-width: 900px;
        margin: 0 auto;

        p:first-child {
            border-bottom: $borda-sm;
            padding-bottom: 5px;
            font-size: 32px;
            font-family: $font-gilroy;
            padding: 15px 0;
            padding-left: 20px;
        }

        >.text-center {
            p:not(p:first-child) {
                font-size: 14px;
            }

            p {
                text-align: start;
                line-height: 145%;
                color: rgb(28, 28, 28);
                padding: 0 20px;

                small {
                    color: $cor-azul-1;

                }
            }

            a:last-child {
                background: none;
                border: 1px solid transparent;
                width: 100% !important;
                color: $cor-azul-1 !important;
                font-family: $font-gilroy;
                text-align: start;
                border-top: $borda-sm;
                padding: 10px 0;
                padding-left: 20px;
                border-radius: 0 0 8px 8px;
                font-size: 16px;

                &:hover {
                    box-shadow: initial !important;
                    background: rgba(243, 243, 243, 0.85);
                }
            }
        }
    }
}


.body__home {
    .separator-breadcrumb {
        @include d(m) {
            margin-bottom: 0;
        }
    }

    .main-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    //card alunos 

    .card__alunos {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: initial;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;

        .card__alunos-element {
            max-width: 320px;
            margin-top: 0px;
            height: max-content;
        }

        .card {
            padding: 0;
            border-radius: $border-radius;

            .card-header {
                border-radius: 8px 8px 0 0;
                border-bottom: initial !important;

            }

            &-body {
                padding: 10px 0 0;

                p {
                    a {
                        font-size: 18px;
                        font-weight: 700;
                        color: $cor-azul-1 !important;
                        transition: 0.3s ease;
                        padding: 10px 20px;
                        border-radius: $border-radius;

                        display: inline-flex;
                        align-items: center;

                        &:hover {
                            background: $cor-cinza-1;
                        }

                        ion-icon {
                            margin-right: 5px;
                            font-size: 20px;
                        }
                    }
                }

                >a {
                    background: none;
                    color: $cor-vermelho-1 !important;
                    font-size: 18px;
                    border-top: $borda-sm;
                    padding: 12px 0;
                    border-radius: initial;
                    font-weight: 600;
                    font-family: $font-gilroy;
                    transition: 0.3s ease;

                    &:hover {
                        background: $cor-cinza-1;
                    }
                }
            }
        }
    }

    .card-header {
        border-bottom: $borda-sm !important;
    }

    .atividades__container {
        width: calc(100% - 400px);
        min-width: 500px;

    }

    /* fim card alunos */
    .card__atividades,
    .card__enquetes {
        border: $borda-sm;
        border-radius: $border-radius;
        box-shadow: $shadow-sm;
        overflow: hidden;


        .card-body {
            padding: 0;
        }

        ul {
            min-height: 140px;
            overflow-y: auto;
            max-height: 200px;

            li {
                border-radius: initial;
                border: initial;
                transition: .3s ease;
                color: rgba(0, 0, 0, 0.79);

                a {
                    color: $cor-azul-1;
                    font-size: 14px;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:hover {
                    background: $cor-cinza-1;
                }

            }

            li {
                border-bottom: 1px solid #dadce0 !important;
                margin-bottom: 0;
            }
        }
    }

    .card__atividades {

        h1 {
            i {


                @include iconTitulos("/static/assets/images/icons/book.svg")
            }
        }
    }

    .card__enquetes {
        margin-top: 30px;

        h1 {
            i {


                @include iconTitulos("/static/assets/images/icons/enquete.svg")
            }
        }
    }

    .card-header:first-child {
        border-radius: 8px 8px 0 0;
    }

    .atividades__container {
        margin-left: 60px;



        @include d(m) {
            margin-left: initial;
            min-width: 290px;
            font-size: 12px;
            width: 100%;
        }

        .card-header {
            padding: 0;
        }

        .titulosecoes {
            padding: 0;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            padding-left: 20px;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-right: 10px;
            margin: 15px 0;
            width: 100%;
        }
    }

    .list-group-item {
        @include d(m) {
            padding: 12px;
        }
    }

    #myTab {
        border-bottom: $borda-sm !important;

        .nav-item {
            border-radius: $border-radius;

            .nav-link {
                font-family: $font-gilroy !important;
                font-size: 18px;
                display: inline-flex;
                align-items: center;

                @include d(m) {
                    font-size: 16px;
                    padding: 12px;
                }

                &.active {
                    border: initial !important;
                    border-bottom: 3px solid $cor-azul-1 !important;
                    background: initial !important;
                    color: $cor-azul-1 !important;
                    border-color: #003473 #003473 #fff;
                }

                ion-icon {
                    margin-right: 8px;
                    font-size: 20px;
                }

            }
        }


    }

    #myTabContent {
        padding: 0 1rem;
        padding-top: 0;

        h4 {
            margin-bottom: 30px;
            font-size: 20px;
        }

        .tab-content {
            padding-left: 0 !important;
            padding-top: 0;
            padding-right: 0 !important;
        }
    }

    .card__img {
        height: 113px;
        border-radius: 8px 0 8px 0;
        width: 221px !important;
        position: relative;
        overflow: hidden;
        background: #0000000a;
    }

    .card__titulo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 20px;

        h5 {
            font-family: $font-gilroy;
            margin: 10px 0;
            display: inline-block;
            font-size: 20px;
        }
    }


    .top__division {
        display: flex;
    }

    .card__texto {
        height: 100%;
        padding-bottom: 0px;
        margin-left: 0;

        p {
            margin-top: 10px;
            font-size: 14px;
            display: block;
            max-width: 700px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            color: #3f4449;
            padding: 0 20px;
        }

        .leia-mais {
            border-top: $borda-sm;

            display: inline-flex;
            justify-content: flex-end;
            width: 100%;

            a {
                padding: 12px 20px;
                width: 100%;
                margin-left: auto;
                font-family: $font-gilroy;
                transition: 0.3s ease;
                cursor: pointer;
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                z-index: 2;

                ion-icon {
                    margin-left: 5px;
                }

                &:hover {
                    background: $cor-cinza-1;
                }
            }

        }
    }

    .nav__alunos-container {
        .nav-pills .nav-link {
            color: $cor-azul-1;
            transition: .3s ease;

            &.active {
                background-color: #dfdfdf;
                font-size: 16px;
                padding: 5px 10px;
                font-weight: 600;
            }
        }
    }

    .tab__panel-container {
        .tab-pane {
            display: flex;

            .card {
                width: 50%;

                @include d(m) {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto 30px;
                }
            }
        }
    }
}

.vermais_aluno {
    display: inline-flex;
    align-items: center;

    ion-icon {
        margin-left: 5px;
    }
}

.nav__alunos-container {
    margin-top: 20px;
}

//calendario home
#profile {
    .card {
        border: none !important;

        .card-body {
            @include d(m) {
                padding: 0;
                width: 100%;
            }
        }

        #calendar {
            border: $borda-sm;
            float: none;
            padding: 20px;
            border-radius: 8px;

            @include d(m) {
                padding: 10px;
            }

            .fc-button-primary {
                color: #fff;
                background-color: $cor-azul-1;
                border: 1px solid #09609b;
            }

            .fc-button:focus {
                outline: none !important;
                -webkit-box-shadow: initial !important;
                box-shadow: initial !important;
                background: #003473 !important;
            }
        }

        .fc-toolbar {
            @include d(m) {
                display: grid;
                gap: 20px;
                justify-items: center;
                width: 100% justify-content: center;
            }
        }
    }
}

/* navegação */

nav[aria-label="Navegação"] {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    align-items: center;

    .page-link {
        display: grid;
        place-items: center;
        padding: 10px 10px;
        margin: 0 5px;
        border-radius: initial !important;
        height: 40px !important;
        font-size: 18px;
        border: initial !important;

        ion-icon {
            font-size: 20px;
            cursor: pointer
        }
    }

    .page-item.active {
        .page-link {
            background: initial !important;
            color: $cor-azul-1;
            border-bottom: 2px solid $cor-azul-1 !important;

        }
    }
}

.comunicados__wrapper {
    display: grid !important;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    @include d(m) {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100% !important;
        min-width: 300px;

        .top__division {
            flex-direction: column;

            .card__img {
                width: 100% !important;
                border-radius: 8px 8px 0 0;
            }
        }
    }


}



@media (max-width:1200px) {}