
/* Sidebar */
.layout-sidebar-large .sidebar-left {
    left: -160px;

}

.layout-sidebar-large .sidebar-left.open {
      /* background: #003662 !important; */
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(18,88,145,1) 100%);
        left:0px !important;
}


a.nav-item-hold:hover {
    -webkit-box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);

}

li.nav-item {
    border-radius: 10px;
    border: none !important;
}

.layout-sidebar-large .sidebar-left .navigation-left .nav-item {

    margin: 10px;
    width: auto !important;

}

span.nav-text {
    color: white;
    width: 70%;
    text-align: center !important;
    font-size: 13px;
    display: inline-block !important;
    font-weight: 400;
}

.layout-sidebar-large .sidebar-left .navigation-left .nav-item.active, .layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .nav-item-hold {
    color:white;
    -webkit-box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -13px rgba(0,0,0,0.75);
    border-radius:5px;
}

.layout-sidebar-large .sidebar-left .navigation-left {
    width: auto;
}

.layout-sidebar-large .sidebar-left-secondary.open {
    left: 155px !important;
    background: #061741 !important;
}

.nav-icon {
    color: white;
}

.layout-sidebar-large .sidebar-left .navigation-left {

    overflow: hidden !important;
}


.layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .triangle {
    border-color: transparent transparent transparent;
}

/* submenu */
.nav-item a{
    color:white !important;
}


.layout-sidebar-large .sidebar-left-secondary .childNav li.nav-item a:hover {
        color: #dbefff !important;
}


.sidebar-left-secondary .childNav li.nav-item.open>a {
    background: none !important;
    color: #dbefff !important;
}



.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold {
    transition: 0.45s;
    border-radius: 15px;
}


.layout-sidebar-large .sidebar-overlay {

    cursor: default  !important;;
}

.layout-sidebar-large .sidebar-left-secondary .childNav li.nav-item {
    display: block;
    /* width: 10%; */
    margin: 5px 8px;
}

.layout-sidebar-large .sidebar-left-secondary.open {
    left: 155px !important;
    -webkit-box-shadow: inset 10px 0px 5px -6px rgb(0 0 0 / 75%);
    -moz-box-shadow: inset 10px 0px 5px -6px rgba(0,0,0,0.75);
    box-shadow: inset 10px 0px 5px -6px rgb(0 0 0 / 75%);
    background: #061741 !important;
}


.layout-sidebar-large .sidebar-left-secondary .childNav li.nav-item a:hover {
    background: none !important;
}


p.titulo_produto {
    margin-top: 10px;
    /* background: white; */
    border-bottom: 1px solid black;
    margin-left: 10px;
    color: white;
    padding: 17px;
    box-shadow: 0px 10px 18px -13px rgb(0 0 0 / 75%);
}

.container {
    max-width: 90% !important;
}
.card {
    margin-top: 10px;
}

.table-responsive {
 padding-top: 20px;

}


/*Indicação das mesas*/
.descricao__wrapper {
    margin-bottom: 30px;
    padding-left: 20px;
     max-width: 90% !important; 
     min-width: 90% !important; 
}
.descricao .descricao__text p {
    color: #303840 !important;
}
.nav-tabs .nav-item .nav-link.active {
    border: 1px solid transparent;
    background: #C2E3FF !important;
    color: black !important;
    border-color: #003473 #003473 #fff;
}


a#timeline-tab {
    color: black !important;
}

a#info-tab {
    color: black !important;
}

.nav-tabs .nav-item .nav-link:not(.disabled) {
    color: inherit;
    color: black !important;
}
/* Login */

#page__loguin .entrar button {
    font-weight: bold;
    color: white !important;
    font-size: 16px;
    cursor: pointer;
}

#page__loguin .entrar:hover {
    
    -webkit-box-shadow: 0px 6px 16px -6px rgba(0,54,98,1);
-moz-box-shadow: 0px 6px 16px -6px rgba(0,54,98,1);
box-shadow: 0px 6px 16px -6px rgba(0,54,98,1);
}

#page__loguin .entrar {
    margin-top: 0px;
    padding: 10px 30px;
    left: 536px;
    top: 466px;
    font-weight: bold;
    background: #003662;
    display: inline-block;
    transition: 0.4s ease;
    border-radius: 10px;
    margin-top: 20px;
    color: white !important;
}

input#id_username {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px;
    padding-left: 10px;
    width: 300px;
}

input#id_password {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px;
    padding-left: 10px;
    width: 300px;
}

#page__login label {
    /* position: relative; */
    /* background: white; */
    /* padding: 3px; */
    /* bottom: -5px; */
    /* position: absolute; */
    background: white;
    padding: 3px 10px;
    padding-bottom: 0;
    top: 5px;
    max-width: 60px;
    display: inline-block;
    margin-top: 0 !important;
    height: 22px;
    left: 15px;
    font-size: 14px;
    text-align: center;
    color: #003662;
}


input#id_username {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px;
    padding-left: 10px;
    width: 300px;
    margin-bottom: 30px;
}


/*arquivos*/
.repositorio td.sorting_1 {
    width: 60px !important;
    height: auto !important;
    text-align: center;
}

td.sorting_1 img {
    /* border: 1px solid red !important; */
    width: auto;
    height: 55px;
}


.fa-5x {
    font-size: 35px !important;
}
.pastas {
    width: 30%;
}
.pastas .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

.arquivos {

    width: 70%;
}

.arquivos .col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
}

.pastas table {
    border-spacing: 5px 10px !important;
    /* border: 3px solid red; */
    border-collapse: separate;
}
.pastas td {
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.18);
box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.18);
    padding: 0px !important;
    /* margin-bottom: 10px !important; */
    /* border-spacing: 10px; */
}

.pastas td:hover {
    transition: 0.2s;
    -webkit-box-shadow: 0px 7px 5px -2px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.18);
    box-shadow: 0px 7px 5px -2px rgb(0 0 0 / 18%);
}


.pastas .table-responsive {
    padding-top: 0px;
}

.pastas a{
   
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        padding: 14px 25px;
    
}

.pastas i.fas.fa-folder.fa-5x {
    margin-right: 15px;
}


/*data tables*/

.table-striped tbody tr:nth-of-type(odd) {
    /* background-color: rgba(0,0,0,.05); */
    background: #f2f6ff;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: white !important;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid white !important;
}

/*geral cards*/

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: white !important;
    border-bottom: 2px solid rgba(0,0,0,.125) !important;
}

p.descritivo-titulo {
    margin-bottom: 10px;
}

.form-control:focus {
    color: #17365c;
    background-color: #fff;
    border-color: #020125;
    outline: 0;
     box-shadow: 0 0 0 0rem rgb(0 52 115 / 0%); */
}

.form-control {
 background: #fafbff;

}



/*indicacoes para mesas*/
.formulario {
    width: 50%;
}


.formulario .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;

}

.informacoes {
    width: 50%;
}

.formulario form {
    /* background: red; */
    margin-top: 40px;
    padding: 45px 60px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

p.help-block {
    font-size: 9px;
    margin-top: 5px;
    margin-left: 10px;
    color: #6e0000;
    font-weight: 600;
}


.card-title, .text-title, h1, h2, h3, h4, h5, h6 {
    color: #303840 !important;
    margin-top: 15px;
    font-weight: 800;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

button.entrar {
    color: white !important;
}

#page__login .entrar:hover {
    box-shadow: 0px 16px 17px -14px #003662 !important;
}

@media only screen and (max-width: 600px) {
    .layout-sidebar-large .sidebar-left {
        left: -190px !important;
    }
    .main-content-wrap {
        width: 100%;
        min-height: 100vh;
        float: right;
        padding: 0px !important;
    }

    .card {
        margin-top: 10px;
        box-shadow: 0 0px 0px 0px rgb(0 0 0 / 6%);
    }

    .arquivos {
        width: 100% !important;
    }

    .pastas {
        width: 100% !important;
    }

.formulario {
    width: 100%;
    padding: 0px !important;
    /* background: rebeccapurple; */
}

.container {
    max-width: 100% !important;
}

.formulario form {
    /* background: red; */
   padding: 10px;

}

.informacoes {
    width: 100%;
}
  }


  .descricao p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #303840 !important;
}
